mixin dropdown(options = {}, forceOpen = false)
  -
    const [
      DROPDOWN_DEFAULT_CONFIG,
      DROPDOWN_MULTI_DEFAULT_CONFIG
    ] = require('Components/dropdown/defaults.pug.json');

    const type = options.type || DROPDOWN_DEFAULT_CONFIG.type;
    const placeholder = options.placeholder 
      || type==='single'
        ? DROPDOWN_DEFAULT_CONFIG.placeholder
        : DROPDOWN_MULTI_DEFAULT_CONFIG.placeholder;
    const listItems = options.listItems
      || type == 'single'
        ? DROPDOWN_DEFAULT_CONFIG.listItems
        : DROPDOWN_MULTI_DEFAULT_CONFIG.listItems;

  .dropdown(class = forceOpen && 'dropdown--force-open')&attributes(attributes)
    input(type='text' readonly placeholder = placeholder).dropdown__display.input
    .dropdown__contents(class = forceOpen && 'dropdown__contents--force-visible')
      each item in listItems
        .dropdown__option(
          data-min= item.min,
          data-max= item.max,
          data-single = item.nameSingle,
          data-few = item.nameFew,
          data-many = item.nameMany
        )
          span.dropdown__option-name= item.name
          button.dropdown__option-control.dropdown__option-control--subtract.dropdown__option-control--disabled -
          input.dropdown__option-value(value = item.value ? item.value : item.min)
          button.dropdown__option-control.dropdown__option-control--add +
      if (type === 'single')
        button.button.button--style_text.button--size_auto.dropdown__btn.dropdown__btn--clear.hidden очистить
        button.button.button--style_text.button--size_auto.dropdown__btn.dropdown__btn--apply применить
