extends ~Pages/layout

include ~Components/box/box
include ~Components/bullet-list/bullet-list
include ~Components/header/header
include ~Components/footer/footer
include ~Components/form/form
include ~Components/image-title/image-title
include ~Components/user-comment/user-comment

block title
  title О номере

block body
  body.room-details
    +header

    header.room-details__header
      each section in ['main', 'second', 'third']
        .room-details__header-image(class=`room-details__header-image--${section}`)

    main.room-details__main
      .room-details__features
        h2 Сведения о номере
        +box({ hasSeparators: true })
          //- комфорт
          +imageTitle({ type: 'emoji', src: 'insert_emoticon', heading: 'комфорт', text: 'шумопоглощающие стены', })
          //- удобство
          +imageTitle({ type: 'emoji', src: 'location_city', heading: 'удобство', text: 'окно в каждой из спален', })
          //- уют
          +imageTitle({ type: 'emoji', src: 'whatshot', heading: 'уют', text: 'номер оснащен камином', })

      .room-details__rate-graph
        +box({ mb: 20 })
          h2.room-details__graph-title Впечатления от номера
        .room-details__rate-canvas-wrap
          canvas.room-details__rate-canvas.js-canvas(height='120', width='120')
        ul.bullet-list.bullet-list--size_s.room-details__graph-legend
          -
            const diargramSections = [
              {en: 'great', ru: 'Великолепно'},
              {en: 'good', ru: 'Хорошо'},
              {en: 'average', ru: 'Удовлетворительно'},
              {en: 'poor', ru: 'Разочарован'},
            ]
          each item in diargramSections
            li.room-details__legend-item(
              class=`room-details__legend-item--style_${item.en}`
            )= item.ru

      section.room-details__reviews
        h2.room-details__reviews-title Отзывы посетителей номера
          span.room-details__review-counter 2 отзыва

        +userComment({ age: '5 дней назад', avatar: '../assets/images/uid1111.jpg', isLiked: true, likes: 12, text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\nИ стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\nне жаловался из соседей.', username: 'Мурад Сарафанов', })

        +userComment({ age: 'неделю назад', avatar: '../assets/images/uid2222.jpg', isLiked: false, likes: 2, text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,\nкаждый день новое блюдо и десерт как комплимент', username: 'Патрисия Стеклышкова', })

      section.room-details__rules
        h2 Правила
        +bulletList({ list: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00,\n а выезд до 12:00']})

      section.room-details__refund
        h2 Отмена
        p Бесплатная отмена в течение 48 ч. После<br>этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

      +formBooking({ number: '888', lux: true }).room-details__aside

    +footer({ hasBorder: true })

    script(type='text/javascript', src='../scripts/roomDetails.js')
