include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Room details')
  body.page.landing.page--layout_landing

    +mainHeaderPages

    header.landing__secondary-header