include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form
include ~CommonBlocks/image-title/image-title
include ~CommonBlocks/user-comment/user-comment

+head('Room details')
  body.page.page--layout_room-details

    +mainHeaderPages.main-header--lang_ru

    header.room-details__gal-header.gal-header
      .gal-header__image.gal-header__image--main
      .gal-header__image.gal-header__image--sec-top
      .gal-header__image.gal-header__image--sec-bot


    main.main-content.main-content--width_m.room-details__main
      .room-details__features
        h2 Сведения о номере
        //- комфорт
        +imageTitle('emoji', 'insert_emoticon', 'комфорт', 'шумопоглощающие стены')
        //- удобство
        +imageTitle('emoji', 'location_city', 'удобство', 'окно в каждой из спален')
        //- уют
        +imageTitle('emoji', 'whatshot', 'уют', 'номер оснащен камином')


      .room-details__rate-graph
        h2.mb20.room-details__graph-title Впечатления от номера
        .room-details__rate-canvas-wrap
          canvas(height='120', width='120').room-details__rate-canvas
        ul.bullet-list.room-details__graph-legend
          li.bullet-list__item.room-details__legend-item.room-details__legend-item--style_great Великолепно
          li.bullet-list__item.room-details__legend-item.room-details__legend-item--style_good Хорошо
          li.bullet-list__item.room-details__legend-item.room-details__legend-item--style_average Удовлетворительно
          li.bullet-list__item.room-details__legend-item.room-details__legend-item--style_poor Разочарован



      section.room-details__reviews
        h2.room-details__reviews-title Отзывы посетителей номера
          span.room-details__review-counter 2 отзыва

        +userComment('uid1111', 'Мурад Сарафанов', '5 дней назад', 12, true, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. \nИ стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\nне жаловался из соседей.')

        +userComment('uid2222', 'Патрисия Стеклышкова', 'неделю назад', 2, false, 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,\nкаждый день новое блюдо и десерт как комплимент')


      section.room-details__rules
        h2 Правила
        ul.bullet-list
          li.bullet-list__item Нельзя с питомцами
          li.bullet-list__item Без вечеринок и мероприятий
          li.bullet-list__item Время прибытия — после 13:00,<br>а выезд до 12:00

      section.room-details__refund
        h2 Отмена
        p Бесплатная отмена в течение 48 ч. После<br>этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.


      +formBooking.room-details__aside


    +footerRU.room-details__footer