mixin head(title) 
  <!DOCTYPE html>
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      meta(name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim culpa tempora et ea fugit iste numquam soluta ipsum fugiat quia.")
      meta(name="keywords" content="fill, in, your, keywords, here")
      link(rel="icon" href="./assets/images/favicon.png")
      title= title
    block