@use 'Styles/forward' as fw

.main-content--page_login
  @extend .centered-flex
  min-height: 680px
  padding-top: 30px
  padding-bottom: 30px
  margin-top: 70px
  // background: center / cover url(/assets/images/bg-reg.jpg)
  background: center / cover url(../assets/images/bg-reg.jpg)

  @include fw.media('>=topnav')
    margin-top: 0

.page-login__form
  margin: auto