include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Войти в Toxin')
  body.page.page--layout_login
    +header
    main.main-content
      +formLogin
    +footer
