include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Login')
  body.page.page-login
    +mainHeaderPages.main-header--lang_ru
    main.main-content.page-login__main
      +formLogin.page-login__form
    +footerRU.page-login__footer