include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Login')
  body.page.page-login
    +header
    main.main-content.page-login__main
      +formLogin.page-login__form
    +footer()
