include ~Components/head/head
include ~Components/header/header
include ~Components/footer/footer
include ~Components/form/form

+head('Войти в Toxin')
  body.login-page
    +header
    main.login-page__content
      +formLogin
    +footer
