include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Login')
  body.page.page--layout_room-details
    +mainHeaderPages
    main.main-content.main-content--page_login
      +formLogin.page-login__form
    +footerRU.room-details__footer