include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Войти в Toxin')
  body.login-page
    +header
    main.login-page__content
      +formLogin
    +footer
