@use 'Styles/forward' as fw

.page-login__main
  @extend .centered-flex
  min-height: 683px
  padding-top: 30px
  padding-bottom: 30px
  background: center top 24% / cover url(../assets/images/bg-reg.jpg)

  @include fw.media('>=topnav')
    margin-top: 0

.page-login__form
  margin: auto
