extends ~Pages/layout

include ~Components/header/header
include ~Components/footer/footer
include ~Components/form/form

block title
  title Вход в Toxin

block body
  body.login-page
    +header
    main.login-page__content
      +formLogin
    +footer
