@use 'Styles/forward' as *

.login-page
  .login-page__content
    @extend .main-content
    @extend .centered-flex
    background: center 25.5% / cover url(../assets/images/bg-reg.jpg)
    min-height: 70.2rem
    padding: 3rem clamp(1rem, 2vw, 2rem) 3.2rem
