@use 'Styles/forward'
@use '--text/text'
@use '--masked/masked'
@use '--dropdown/dropdown'
@use '--toggle/toggle'
@use '--radio/radio'
@use '--checkbox/checkbox'
@use '--like/like'
@use '--rate/rate'
@use '--range/range'

.input-box__input
  width: 100%
  height: 44px
  padding: 12px 15px
  font-size: 1.4rem
  font-weight: 400
  line-height: 1.8rem
  border: 1px solid forward.$dark25
  border-radius: 4px
  color: forward.$dark75

  &::placeholder
    color: forward.$dark50

  &:hover,
  &:focus
    border-color: forward.$dark50
    color: forward.$dark100

    &::placeholder
      color: forward.$dark75