mixin radio({ name = '', value = '', checked = false, label = '' })
  label.radio&attributes(attributes)
    input.radio__input(type='radio', name=name, value=value, checked=checked)
    span.radio__replacer
    span.radio__label= label
