include ~CommonBlocks/input/input

mixin subscribeForm(placeholder='Email')
  form.subscribe-form&attributes(attributes)
    .input-box
      +input({ placeholder, type: 'email'}).subscribe-form__input
      button(type='submit').subscribe-form__submit
