@use 'Styles/forward' as *

.subscribe-form__submit
  @extend .centered-flex
  position: absolute
  right: 0
  bottom: 0
  height: 44px
  width: 44px
  border: none
  background: transparent
  cursor: pointer

  &:after
    @extend .material-icons
    @extend .text-gradient
    content: '\e5c8'
