mixin input(options = {})
  - const inputType = options.type || 'text';

  input(
    class=`input input--type_${inputType}`
    placeholder=options.placeholder || ""
    type=inputType
    value=options.value || ""
  )&attributes(attributes)
