extends ~Pages/layout

include ~Components/header/header
include ~Components/footer/footer
include ~Components/form/form

block body
  body
    +header
    main.landing-content
      .landing-content__inner
        .landing-content__form
          +formSearchRoom
        p.landing-content__caption Лучшие номера для вашей работы,<br>отдыха и просто вдохновения
    +footer

    script(type='text/javascript', src='../scripts/landing.js')
