@use 'Styles/forward' as *

.page--layout_landing
  .main-content
    background: 0 -70px url('../assets/images/bg1.jpg') no-repeat
    background-size: cover
    height: 830px

    &__inner
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 100%
      padding-bottom: 20px
      padding-top: 70px

  .caption
    color: $dark75
    line-height: 2.4rem

    align-self: center
    text-align: center

    @include media('>=tablet')
      align-self: flex-end
      text-align: right

  .form
    align-self: center

    @include media('>=tablet')
      align-self: flex-start
