include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Landing Page')

  body.page.page--layout_landing

    +mainHeaderPages

    main.main-content.main-content--page_landing.full-width-container
      +formSearchRoom.form--page_landing
      p.main-content__caption Лучшие номера для вашей работы,<br>отдыха и просто вдохновения

    +footer