include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Landing Page')

  body
    +header
    main.landing-content
      .landing-content__inner
        .landing-content__form
          +formSearchRoom
        p.landing-content__caption Лучшие номера для вашей работы,<br>отдыха и просто вдохновения
    +footer

    script(type="text/javascript" src="../scripts/landing.js")
