include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Landing Page')

  body.page.page--layout_landing
    +header
    main.main-content
      .main-content__inner.container
        +formSearchRoom
        p.caption Лучшие номера для вашей работы,<br>отдыха и просто вдохновения
    +footer

    script(type="text/javascript" src="../scripts/landing.js")
