@use 'Styles/forward' as *

.landing-content
  @extend .main-content
  background: url('../assets/images/bg1.jpg') no-repeat
  background-size: cover
  height: 83rem

  &__inner
    @extend .container
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    padding-bottom: 2rem
    padding-top: 7rem

  &__caption
    color: $dark75
    line-height: 2.4rem

    align-self: center
    text-align: center

    @include media('>=tablet')
      align-self: flex-end
      text-align: right

  &__form
    align-self: center

    @include media('>=tablet')
      align-self: flex-start
