include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form
include ~CommonBlocks/room-card/room-card
include ~CommonBlocks/pagination/pagination

+head('Search room')
  body.page.page--layout_search-filter.search-filter-page

    +mainHeaderPages(true)

    .content-wrapper.has-fixed-header

      aside.search-filter-page__filters
        //- filter date dropdown
        +inputBox('даты пребывания в отеле').mb20
          +filterDateDrop
        //- guests dropdown
        +inputBox('гости').mb30
          +inputDrop('single', 'Количество гостей')
            +dropOption('взрослые', '', '', '', 0, 10)
            +dropOption('дети', '', '', '', 0, 10)
            +dropOption('младенцы', '', '', '', 0, 10)
        //- range
        +inputBox('Диапазон цены').mb30
          +rangeSlider
          span.search-filter-page__range-caption Стоимость за сутки пребывания в номере
        //- checkboxes
        +inputBox('опции').mb30
          .mb15
          +checkbox('можно курить')
          +checkbox('можно с питомцами')
          +checkbox('можно пригласить гостей\n(до 10 человек)')
        //- rich checkboxes
        +inputBox('Доступность').mb30
          .mb15
          +checkbox('Широкий коридор', false, 'Ширина коридоров в номере\nне менее 91 см.')
          +checkbox('Помощник для инвалидов', false, 'На 1 этаже вас встретит специалист\nи проводит до номера.')
        //- dropdown
        +inputBox('удобства номера', 'm').mb20
          +inputDrop('multi', '')
            +dropOption('спальни', 'спальня', 'спальни', 'спален', 1, 3, 2)
            +dropOption('кровати', 'кровать', 'кровати', 'кроватей', 1, 6, 4)
            +dropOption('ванные комнаты', 'ванная комната', 'ванных комнаты', 'ванных комнат', 0, 3, 1)
        //- expandable checkbox group
        +checkboxGroup('дополнительные удобства').mb30
          +checkbox('Завтрак')
          +checkbox('Письменный стол')
          +checkbox('Стул для кормления')
          +checkbox('Кроватка')
          +checkbox('Телевизор')
          +checkbox('Шампунь')
          +checkbox('Телевизор')
          +checkbox('Шампунь')
        //- button to apply filters
        +button('применить фильтры', 'gradient', 'm')
        //- button to expand / hide on small screens
        button.search-filter-page__expand-filters
          i.material-icons arrow_forward

      main.search-filter-page__content
        h1.search-filter-page__title Номера, которые мы для вас подобрали
        .search-filter-page__rooms
          +roomCard('room1.jpg', 5, 888, 9990, 145, true).search-filter-page__room-card
          +roomCard('room2.jpg', 4, 840, 9900, 65).search-filter-page__room-card
          +roomCard('room3.jpg', 3, 980, 8500, 35, true).search-filter-page__room-card
          +roomCard('room4.jpg', 5, 856, 7300, 19).search-filter-page__room-card
          +roomCard('room5.jpg', 4, 740, 6000, 44).search-filter-page__room-card
          +roomCard('room6.jpg', 3, 982, 5800, 56).search-filter-page__room-card
          +roomCard('room7.jpg', 5, 678, 5500, 45).search-filter-page__room-card
          +roomCard('room8.jpg', 4, 450, 5300, 39).search-filter-page__room-card
          +roomCard('room9.jpg', 3, 350, 5000, 77).search-filter-page__room-card
          +roomCard('room10.jpg', 5, 666, 5000, 25).search-filter-page__room-card
          +roomCard('room11.jpg', 3, 444, 5000, 15).search-filter-page__room-card
          +roomCard('room12.jpg', 3, 352, 5000, 55).search-filter-page__room-card
        +pagination

    //- end .content-wrapper
    +footerRU.search-filter-page__footer