include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form
include ~CommonBlocks/room-card/room-card
include ~CommonBlocks/pagination/pagination
include ~CommonBlocks/range/range

+head('Search room')
  body.page.page--layout_search-filter.search-room-page.page--layout_search-room-filter

    +header().header--has-shadow

    .container.content

      aside.room-filters
        //- filter date dropdown
        +inputBox('даты пребывания в отеле').mb21.js-filter-datepicker
          +dateDropdown
        //- guests dropdown
        +inputBox('гости').mb30
          +dropdown.js-guest-dropdown
        //- range
        +inputBox('Диапазон цены').mb30
          +rangeSlider('Стоимость за сутки пребывания в номере').js-rangeslider
        //- checkboxes
        +inputBox('правила дома').mb33
          .mb15
          each label in ['можно курить', 'можно с питомцами', 'можно пригласить гостей\n(до 10 человек)']
            +checkbox(label)
        //- rich checkboxes
        +inputBox('Доступность').mb31
          .mb15
          +checkbox('Широкий коридор', false, 'Ширина коридоров в номере\nне менее 91 см.')
          +checkbox('Помощник для инвалидов', false, 'На 1 этаже вас встретит специалист\nи проводит до номера.')
        //- comfort dropdown
        +inputBox('удобства номера', 'm').mb24
          +dropdown(dropdownMultiDefaults).js-comfort-dropdown
        //- expandable checkbox group
        +checkboxGroup('дополнительные удобства').mb30
          each label in ['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Телевизор','Шампунь']
            +checkbox(label)
        //- button to apply filters
        +button({ 
          title: 'применить фильтры',
          style: 'gradient',
          size: 'm'
        }).search-room-page__apply-btn

      main.main-content
        h1 Номера, которые мы для вас подобрали
        .search-results
          +roomCard(['room1.jpg', 'room3.jpg', 'room6.jpg', 'room11.jpg'], 5, 888, '9 990₽', 145, true)
          +roomCard(['room2.jpg', 'room9.jpg'], 4, 840, '9 900₽', 65)
          +roomCard(['room3.jpg', 'room11.jpg'], 3, 980, '8 500₽', 35, true)
          +roomCard(['room4.jpg', 'room12.jpg', 'room3.jpg'], 5, 856, '7 300₽', 19)
          +roomCard(['room5.jpg', 'room1.jpg', 'room12.jpg'], 4, 740, '6 000₽', 44)
          +roomCard(['room6.jpg', 'room11.jpg'], 3, 982, '5 800₽', 56)
          +roomCard(['room7.jpg', 'room5.jpg'], 5, 678, '5 500₽', 45)
          +roomCard(['room8.jpg', 'room4.jpg', 'room7.jpg'], 4, 450, '5 300₽', 39)
          +roomCard(['room9.jpg', 'room1.jpg'], 3, 350, '5 000₽', 77)
          +roomCard(['room10.jpg', 'room8.jpg', 'room3.jpg'], 5, 666, '5 000₽', 25)
          +roomCard(['room11.jpg', 'room3.jpg'], 3, 444, '5 000₽', 15)
          +roomCard(['room12.jpg', 'room5.jpg', 'room4.jpg'], 3, 352, '5 000₽', 55)
        +pagination

    +footer.footer--has-border

    script(type="text/javascript" src="../scripts/search_room_filter.js")
