extends ~Pages/layout

include ~Components/box/box
include ~Components/checkbox/checkbox
include ~Components/header/header
include ~Components/footer/footer
include ~Components/form/form
include ~Components/room-card/room-card
include ~Components/pagination/pagination
include ~Components/spoiler/spoiler
include ~Components/range/range

block title
  title Подобрать номер

block body
  body.search-room
    +header({ hasShadow: true })

    .search-room__content
      aside.search-room__filters
        //- filter date dropdown
        +box({ mb: 21, label: 'даты пребывания в отеле' })
          .js-filter-datepicker
            +dateDropdown
        //- guests dropdown
        +box({ mb: 30, label: 'гости' })
          +dropdown.js-guest-dropdown
        //- range
        +box({ mb: 30, label: 'Диапазон цены' })
          +rangeSlider('Стоимость за сутки пребывания в номере').js-rangeslider
        //- checkboxes
        +box({ mb: 22, label: 'правила', labelMB: 15})
          each label in ['можно курить', 'можно с питомцами', 'можно пригласить гостей\n(до 10 человек)']
            +box({ mb: 10 })
              +checkbox({ label })
        //- rich checkboxes
        +box({ mb: 31, label: 'Доступность', labelMB: 15 })
          +box({ mb: 10 })
            +checkbox({ label: 'Широкий коридор', text: 'Ширина коридоров в номере\nне менее 91 см.', })
          +box
            +checkbox({ label: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист\nи проводит до номера.', })
        //- comfort dropdown
        +box({ width: 'm', mb: 25, label: 'удобства номера' })
          +dropdown({type: 'multi'}).js-comfort-dropdown
        //- expandable checkbox group
        +box({ mb: 30 })
          +spoiler({ title: 'дополнительные удобства'}).js-spoiler
            ul.checkbox-list
              each label in ['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь']
                li
                  +checkbox({ label })
        //- button to apply filters
        +button({ title: 'применить фильтры', style: 'gradient', size: 'm' })

      main.search-room__main
        h1 Номера, которые мы для вас подобрали
        .search-room__results
          - const searchResults = require("Pages/search-room-filter/results.pug.json");
          each room in searchResults
            +roomCard(room)
        +pagination

    +footer({ hasBorder: true })

    script(type='text/javascript', src='../scripts/searchRoomFilter.js')
