include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form
include ~CommonBlocks/room-card/room-card
include ~CommonBlocks/pagination/pagination
include ~CommonBlocks/range/range

+head('Search room')
  body.page.page--layout_search-filter.search-room-page.page--layout_search-room-filter

    +header().header--has-shadow

    .container.content

      aside.room-filters
        //- filter date dropdown
        +inputBox('даты пребывания в отеле').mb21.js-filter-datepicker
          +dateDropdown
        //- guests dropdown
        +inputBox('гости').mb30
          +dropdown.js-guest-dropdown
        //- range
        +inputBox('Диапазон цены').mb30
          +rangeSlider('Стоимость за сутки пребывания в номере').js-rangeslider
        //- checkboxes
        +inputBox('правила дома').mb33
          .mb15
          each label in ['можно курить', 'можно с питомцами', 'можно пригласить гостей\n(до 10 человек)']
            +checkbox(label)
        //- rich checkboxes
        +inputBox('Доступность').mb31
          .mb15
          +checkbox('Широкий коридор', false, 'Ширина коридоров в номере\nне менее 91 см.')
          +checkbox('Помощник для инвалидов', false, 'На 1 этаже вас встретит специалист\nи проводит до номера.')
        //- comfort dropdown
        +inputBox('удобства номера', 'm').mb24
          +dropdown(dropdownMultiDefaults).js-comfort-dropdown
        //- expandable checkbox group
        +checkboxGroup('дополнительные удобства').mb30
          each label in ['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Телевизор','Шампунь']
            +checkbox(label)
        //- button to apply filters
        +button({ 
          title: 'применить фильтры',
          style: 'gradient',
          size: 'm'
        }).search-room-page__apply-btn

      main.main-content
        h1 Номера, которые мы для вас подобрали
        .search-results
          +roomCard({
            photos: ['room1.jpg', 'room3.jpg', 'room6.jpg', 'room11.jpg'],
            rating: 5,
            number: 888,
            cost: '9 990',
            reviewCount: 145,
            lux: true,
          })
          +roomCard({
            photos: ['room2.jpg', 'room9.jpg'],
            rating: 4,
            number: 840,
            cost: '9 900',
            reviewCount: 65,
            lux: false,
          })
          +roomCard({
            photos: ['room3.jpg', 'room11.jpg'],
            rating: 3,
            number: 980,
            cost: '8 500',
            reviewCount: 35,
            lux: true,
          })
          +roomCard({
            photos: ['room4.jpg', 'room12.jpg', 'room3.jpg'],
            rating: 5,
            number: 856,
            cost: '7 300',
            reviewCount: 19,
            lux: false,
          })
          +roomCard({
            photos: ['room5.jpg', 'room1.jpg', 'room12.jpg'],
            rating: 4,
            number: 740,
            cost: '6 000',
            reviewCount: 44,
            lux: false,
          })
          +roomCard({
            photos: ['room6.jpg', 'room11.jpg'],
            rating: 3,
            number: 982,
            cost: '5 800',
            reviewCount: 56,
            lux: false,
          })
          +roomCard({
            photos: ['room7.jpg', 'room5.jpg'],
            rating: 5,
            number: 678,
            cost: '5 500',
            reviewCount: 45,
            lux: false,
          })
          +roomCard({
            photos: ['room8.jpg', 'room4.jpg', 'room7.jpg'],
            rating: 4,
            number: 450,
            cost: '5 300',
            reviewCount: 39,
            lux: false,
          })
          +roomCard({
            photos: ['room9.jpg', 'room1.jpg'],
            rating: 3,
            number: 350,
            cost: '5 000',
            reviewCount: 77,
            lux: false,
          })
          +roomCard({
            photos: ['room10.jpg', 'room8.jpg', 'room3.jpg'],
            rating: 5,
            number: 666,
            cost: '5 000',
            reviewCount: 25,
            lux: false,
          })
          +roomCard({
            photos: ['room11.jpg', 'room3.jpg', 'room7.jpg'],
            rating: 3,
            number: 444,
            cost: '5 000',
            reviewCount: 15,
            lux: false,
          })
          +roomCard({
            photos: ['room12.jpg', 'room5.jpg', 'room4.jpg'],
            rating: 3,
            number: 352,
            cost: '5 000',
            reviewCount: 55,
            lux: false,
          })
        +pagination

    +footer.footer--has-border

    script(type="text/javascript" src="../scripts/search_room_filter.js")
