@use 'Styles/forward'

.image-title
  display: flex
  flex-flow: row nowrap
  align-items: center
  max-width: 280px
  
  &--emoji
    padding: 20px 0
    border-bottom: 1px solid forward.$dark10
  
  &--comment
    padding: 10px 0

.image-title__image--user-avatar
  width: 48px
  height: 48px
  border-radius: 50%
  overflow: hidden
  border: 2px solid #ffffff
  box-shadow: 0 10px 20px forward.$dark05

.image-title__image--emoji
  font-size: 48px
  color: transparent
  background: forward.$mainGradient
  background-clip: text

.image-title__text
  margin-left: 10px
  font-size: 1.4rem

  *:first-letter
    text-transform: capitalize

.image-title__heading
  color: forward.$dark75
  line-height: 2.4rem

.image-title__description
  color: forward.$dark75
  line-height: 2.4rem