include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Register')
  body.page.page--layout_register
    +header
    main.main-content
      +formRegistration
    +footer

    script(type="text/javascript" src="../scripts/register.js")
