extends ~Pages/layout

include ~Components/header/header
include ~Components/footer/footer
include ~Components/form/form

block body
  body.register-page
    +header
    main.register-page__content
      +formRegistration
    +footer

    script(type='text/javascript', src='../scripts/register.js')
