extends ~Pages/layout

include ~Components/header/header
include ~Components/footer/footer
include ~Components/form/form

block title
  title Регистрация на Toxin

block body
  body.register-page
    +header
    main.register-page__content
      +formRegistration
    +footer

    script(src='../scripts/register.js')
