include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Register')
  body.register-page
    +header
    main.register-page__content
      +formRegistration
    +footer

    script(type="text/javascript" src="../scripts/register.js")
