include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Register')
  body.page.page-register
    +mainHeaderPages.main-header--lang_ru
    main.main-content.page-register__main
      +formRegistration.page-register__form
    +footer()
