include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer
include ~CommonBlocks/form/form

+head('Room details')
  body.page.page--layout_register
    +mainHeaderPages
    main.main-content.main-content--page_register
      +formRegistration.page-register__form
    +footerRU.room-details__footer