include ~Components/head/head
include ~Components/header/header
include ~Components/footer/footer
include ~Components/form/form

+head('Register')
  body.register-page
    +header
    main.register-page__content
      +formRegistration
    +footer

    script(type='text/javascript', src='../scripts/register.js')
