@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat/Thin/Montserrat-Thin.eot');
	src: local('Montserrat Thin'), local('Montserrat-Thin');
	src: url('./Montserrat/Thin/Montserrat-Thin.eot?#iefix') format('embedded-opentype');
	src: url('./Montserrat/Thin/Montserrat-Thin.woff') format('woff');
	src: url('./Montserrat/Thin/Montserrat-Thin.svg') format('svg');
	src: url('./Montserrat/Thin/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat/Light/Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light');
	src: url('./Montserrat/Light/Montserrat-Light.eot?#iefix') format('embedded-opentype');
	src: url('./Montserrat/Light/Montserrat-Light.woff') format('woff');
	src: url('./Montserrat/Light/Montserrat-Light.svg') format('svg');
	src: url('./Montserrat/Light/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat/Regular/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular');
	src: url('./Montserrat/Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
	src: url('./Montserrat/Regular/Montserrat-Regular.woff') format('woff');
	src: url('./Montserrat/Regular/Montserrat-Regular.svg') format('svg');
	src: url('./Montserrat/Regular/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat/Bold/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold');
	src: url('./Montserrat/Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
	src: url('./Montserrat/Bold/Montserrat-Bold.woff') format('woff');
	src: url('./Montserrat/Bold/Montserrat-Bold.svg') format('svg');
	src: url('./Montserrat/Bold/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat/Black/Montserrat-Black.eot');
	src: local('Montserrat Black'), local('Montserrat-Black');
	src: url('./Montserrat/Black/Montserrat-Black.eot?#iefix') format('embedded-opentype');
	src: url('./Montserrat/Black/Montserrat-Black.woff') format('woff');
	src: url('./Montserrat/Black/Montserrat-Black.svg') format('svg');
	src: url('./Montserrat/Black/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
	src: url('./OpenSans/Light/OpenSans-Light.eot');
	src: local('Open Sans Light'), local('Open-Sans-Light');
  src: url('./OpenSans/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype');
  src: url('./OpenSans/Light/OpenSans-Light.woff') format('woff');
  src: url('./OpenSans/Light/OpenSans-Light.svg') format('svg');
  src: url('./OpenSans/Light/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
	src: url('./OpenSans/Regular/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular');
  src: url('./OpenSans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  src: url('./OpenSans/Regular/OpenSans-Regular.woff') format('woff');
  src: url('./OpenSans/Regular/OpenSans-Regular.svg') format('svg');
  src: url('./OpenSans/Regular/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
	src: url('./OpenSans/Bold/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold');
  src: url('./OpenSans/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  src: url('./OpenSans/Bold/OpenSans-Bold.woff') format('woff');
  src: url('./OpenSans/Bold/OpenSans-Bold.svg') format('svg');
  src: url('./OpenSans/Bold/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
	src: url('./Quicksand/Light/Quicksand-Light.eot');
	src: local('Quicksand Light'), local('Quicksand-Light');
  src: url('./Quicksand/Light/Quicksand-Light.eot?#iefix') format('embedded-opentype');
  src: url('./Quicksand/Light/Quicksand-Light.woff') format('woff');
  src: url('./Quicksand/Light/Quicksand-Light.svg') format('svg');
  src: url('./Quicksand/Light/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
	src: url('./Quicksand/Regular/Quicksand-Regular.eot');
	src: local('Quicksand Regular'), local('Quicksand-Regular');
  src: url('./Quicksand/Regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype');
  src: url('./Quicksand/Regular/Quicksand-Regular.woff') format('woff');
  src: url('./Quicksand/Regular/Quicksand-Regular.svg') format('svg');
  src: url('./Quicksand/Regular/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
	src: url('./Quicksand/Bold/Quicksand-Bold.eot');
	src: local('Quicksand Bold'), local('Quicksand-Bold');
  src: url('./Quicksand/Bold/Quicksand-Bold.eot?#iefix') format('embedded-opentype');
  src: url('./Quicksand/Bold/Quicksand-Bold.woff') format('woff');
  src: url('./Quicksand/Bold/Quicksand-Bold.svg') format('svg');
  src: url('./Quicksand/Bold/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./MaterialIcons/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(./MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'),
       url(./MaterialIcons/MaterialIcons-Regular.woff) format('woff'),
       url(./MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

/* font-awesome icons bundled with fontello */
@font-face {
  font-family: 'fa-icons';
  src: url(./fa/fa-icons.eot?82606128);
  src: url(./fa/fa-icons.eot?82606128#iefix) format('embedded-opentype'),
       url(./fa/fa-icons.woff2?82606128) format('woff2'),
       url(./fa/fa-icons.woff?82606128) format('woff'),
       url(./fa/fa-icons.ttf?82606128) format('truetype'),
       url(./fa/fa-icons.svg?82606128#fa-icons) format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fa-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */