@use 'Styles/forward' as *
@use './__prompt/prompt'

.form
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  max-width: 38rem
  padding: 4rem 1rem 3rem 1rem
  background: #ffffff
  border-radius: 4px
  box-shadow: 0 0 2rem $dark25

  @include media('>=mobile')
    padding: 4rem 3rem 3rem 3rem
