@use 'Styles/forward' as *
@use './air-datepicker-overwrite'

.datepicker
  box-sizing: border-box
  box-shadow: 0 5px 10px $dark05
  width: 100%

  @include media('>=tablet')
    box-shadow: 0 10px 20px $dark05

  &-inline
    box-shadow: 0 5px 10px $dark05
    display: none
    margin-top: 5px
    position: absolute
    top: 100%
    z-index: 30

    @include media('>=tablet')
      box-shadow: 0 10px 20px $dark05

    &--visible
      display: block

  &-double
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 21px
    max-width: 320px
    width: 100%

  &__arrow
    font-size: 2.4rem

  &__arrow
    @extend .text-gradient

  &--size_l
    max-width: 320px

    // Overwrite air datepicker
    .datepicker--cell
      height: 39px

  &--size_m
    max-width: 266px

    // Overwrite air datepicker
    .datepicker
      &--nav-title
        font-size: 1.6rem

      &--cell
        height: 32px

  &__buttons-panel
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 0 20px 20px

  &__clear-btn
    background: transparent
    color: $dark50
