mixin dateDropdown(options = {})
  -
    const type = options.type || 'single';
    const placeholder = options.placeholder || '';
    const labelStart = options.labelStart || 'Прибытие';
    const labelEnd = options.labelEnd || 'Выезд';

  if type === 'single'
    .date-dropdown.date-dropdown--range&attributes(attributes)
      input(type='text' readonly placeholder = placeholder).date-dropdown__display.input.datepicker-range

  else if type === 'double'
    .datepicker-double&attributes(attributes)
      +inputBox(labelStart, 'xs').mr5
        .date-dropdown
          input(type='text' readonly placeholder = placeholder).date-dropdown__display.input.date-dropdown__start
      +inputBox(labelEnd, 'xs')
        .date-dropdown
          input(type='text' readonly placeholder = placeholder).date-dropdown__display.input.date-dropdown__end
