include ~Components/hint/hint

mixin billInfo
  .bill-info
    .bill-info__table
      .bill-info__row
        .bill-info__title 9&nbsp;990₽ x 4 суток
        .bill-info__sum 39&nbsp;960₽
      .bill-info__row
        .bill-info__title
          | Сбор за услуги: скидка 2&nbsp;179₽
          +hint('Всплывающая подсказка #1')
        .bill-info__sum 0₽
      .bill-info__row
        .bill-info__title
          | Сбор за дополнительные услуги
          +hint('Всплывающая подсказка #2')
        .bill-info__sum 300₽
    .bill-info__total
      .bill-info__total-title Итого
      .bill-info__total-sum 38&nbsp;081₽
