include ~Components/hint/hint

mixin billInfo
  - const { rows, total } = require("Components/bill-info/defaults.pug.json");

  .bill-info
    .bill-info__table
      each row in rows
        - const { title, sum, hint } = row;
        .bill-info__row
          .bill-info__title= title
            if hint
              | &ensp;
              +hint(hint)
          .bill-info__sum= sum
    .bill-info__total
      .bill-info__total-title Итого
      .bill-info__total-sum= total
