extends ~Pages/layout

include ~Components/header/header
include ~Components/uikit/color-list-item/color-list-item
include ~Components/uikit/logo/logo

block title
  title Colors

block body
  body.colors-page
    header.header--uikit
      +logoUikit
    main.colors-page__content
      .color-list
        each percent in ['100', '75', '50', '25', '5']
          +colorListItem(`Dark Shade ${percent}%`, `dark${percent}`, '#1f2041')
        +colorListItem('Purple', 'purple', '#bc0cff')
        +colorListItem('Green', 'green', '#6fcf97')
      .typo-list
        table
          tbody
            tr
              td.typo-list__example
                h1.font_montserrat H1
              td.typo-list__desc
                h1 This one is the sub-section or widget title
            tr
              td.typo-list__example
                h2 H2
              td.typo-list__desc
                h2 Next one is the item title inside widgets
            tr
              td.typo-list__example
                h3 H3
              td.typo-list__desc
                h3 This is a label or cta text
            tr
              td.typo-list__example
                p Body
              td.typo-list__desc
                p This is the body text which is used for most
                  br
                  | of the design, like paragraphs, lists, etc.
