<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body.page.page--colors
    header.main-header.container.container--width_l
      include ../includes/logo.pug
    main.main-content.main-content--page_colors.container.container--width_m
      .color-list
        figure.color-list__item
          .color-list__preview-box.color-list__preview-box--bg_dark100
          figcaption.color-list__caption
            h2.color-list__color-title Dark Shade 100%
            p.color-list__color-hex #1f2041
        figure.color-list__item
          .color-list__preview-box.color-list__preview-box--bg_dark75
          figcaption.color-list__caption
            h2.color-list__color-title Dark Shade 75%
            p.color-list__color-hex #1f2041
        figure.color-list__item
          .color-list__preview-box.color-list__preview-box--bg_dark50
          figcaption.color-list__caption
            h2.color-list__color-title Dark Shade 50%
            p.color-list__color-hex #1f2041
        figure.color-list__item
          .color-list__preview-box.color-list__preview-box--bg_dark25
          figcaption.color-list__caption
            h2.color-list__color-title Dark Shade 25%
            p.color-list__color-hex #1f2041
        figure.color-list__item
          .color-list__preview-box.color-list__preview-box--bg_dark5
          figcaption.color-list__caption
            h2.color-list__color-title Dark Shade 5%
            p.color-list__color-hex #1f2041
        figure.color-list__item
          .color-list__preview-box.color-list__preview-box--bg_purple
          figcaption.color-list__caption
            h2.color-list__color-title Purple
            p.color-list__color-hex #bc0cff
        figure.color-list__item
          .color-list__preview-box.color-list__preview-box--bg_green
          figcaption.color-list__caption
            h2.color-list__color-title Green
            p.color-list__color-hex #6fcf97
      .typo-list
        table
          tbody
            tr
              td.typo-list__example 
                h1.font_montserrat H1
              td.typo-list__desc 
                h1 This one is the sub-section or widget title
            tr
              td.typo-list__example
                h2.font_montserrat H2
              td.typo-list__desc 
                h2 Next one is the item title inside widgets
            tr
              td.typo-list__example
                h3.font_montserrat H3
              td.typo-list__desc 
                h3 This is a label or cta text
            tr
              td.typo-list__example
                p.font_montserrat Body
              td.typo-list__desc 
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.