@use 'Styles/palette'

.main-header
  padding: 30px

.main-content--page_colors
  padding-top: 37px
  display: flex

.color-list__item
  display: flex
  align-items: center
  margin-bottom: 20px

.color-list__preview-box
  width: 70px
  height: 70px
  border-radius: 6px
  margin-right: 40px
  
.color-list__preview-box--bg_dark100
  background-color: palette.$dark100

.color-list__preview-box--bg_dark75
  background-color: palette.$dark75

.color-list__preview-box--bg_dark50
  background-color: palette.$dark50

.color-list__preview-box--bg_dark25
  background-color: palette.$dark25

.color-list__preview-box--bg_dark5
  background-color: palette.$dark05

.color-list__preview-box--bg_purple
  background-color: palette.$purple

.color-list__preview-box--bg_green
  background-color: palette.$green

.color-list__caption
  line-height: 29px

.color-list__color-hex
  text-transform: uppercase
  font-size: 19px

.typo-list
  width: 420px
  margin-left: auto

.typo-list tr
  height: 110px
  vertical-align: top

.typo-list__example
  width: 67px
  padding-right: 30px
  text-align: right
  color: palette.$dark25

.typo-list__desc
  h1,h2,h3
    font-weight: bold