include ../image-title/image-title
include ../input-box/__input/--like/like

mixin userComment(comment)
  .user-comment&attributes(attributes)
    +imageTitle({
      type: 'comment',
      src: comment.avatar,
      heading: comment.username,
      text: comment.age
    })
    .user-comment__body
      +likeBtn(comment.likes, comment.isLiked).user-comment__like-counter
      p.user-comment__text
        = comment.text
