@use 'Styles/forward' as fw

.user-comment
  // padding: 20px 0

  &__body
    display: flex
    flex-flow: row nowrap
    align-items: flex-start

  &__like-counter
    margin-top: 1px
    @extend .centered-flex
    width: 48px

  &__text
    margin-left: 1rem
    line-height: 2.4rem
    color: fw.$dark50
    font-size: 1.4rem
