@use 'Styles/forward' as *

.user-comment
  &__body
    display: flex
    flex-flow: row nowrap
    align-items: flex-start

  &__like-counter
    margin: 1px 4px 0

  &__text
    margin-left: 10px
    line-height: 2.4rem
    color: $dark50
    font-size: 1.4rem
    white-space: pre-line
