include ../image-title/image-title
include ../input-box/__input/--like/like

mixin userComment(uid, name, age, likes, liked, text)
  .user-comment&attributes(attributes)
    +imageTitle('comment', uid, name, age)
    .user-comment__body
      +likeBtn(likes, liked).user-comment__like-counter
      p.user-comment__text
        = text