include room-title-mixins

mixin roomTitle({ number = '999', lux = false, price = '9 990', url })
  if (!url)
    h1.room-title&attributes(attributes)
      span.room-title__room
        +roomNumber(number,lux)
      +price(price)
  else
    h2.room-title&attributes(attributes)
      a.room-title__room(href=url)
        +roomNumber(number,lux)
      +price(price)
