include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/date-dropdown/date-dropdown
include ~CommonBlocks/input-box/input-box

mixin formBooking(room)
  - number = room.number || '999';
  form.form.form--type_booking&attributes(attributes)
    h1.form-title
      span.form-title__room
        span.form-title__number №
        = number
        if (room.lux === true)
          span.form-title__lux люкс
      span.form-title__price 9 990₽
        span.form-title__price-period в сутки

    +datepickerDouble.form__datepicker-double

    +inputBox('гости', 'l')
      +inputDrop('single', 'Сколько гостей').mb14
        each title in ['взрослые', 'дети', 'младенцы']
          +dropOption(title, '', '', '', 0, 10)

    //- Bill info
    table.form__bill.bill-info
      tbody
        tr.bill-info__row.bill-info__initial
          td.bill-info__title 9&nbsp;990₽ x 4 суток
          td.bill-info__sum 39&nbsp;960₽
        tr.bill-info__row.bill-info__discount
          td.bill-info__title.bill-info__title--has-hint Сбор за услуги: скидка 2&nbsp;179₽
          td.bill-info__sum 0₽
        tr.bill-info__row.bill-info__extra
          td.bill-info__title.bill-info__title--has-hint Сбор за дополнительные услуги
          td.bill-info__sum 300₽
    .bill-info__row.bill-info__total.mb19
      span.bill-info__total-title Итого
      span.bill-info__total-sum 38&nbsp;081₽
    
    +button('забронировать','arrowed','l',false).form__btn--main
