include ~CommonBlocks/bill-info/bill-info
include ~CommonBlocks/button/button
include ~CommonBlocks/date-dropdown/date-dropdown
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/input-box/input-box
include ~CommonBlocks/room-title/room-title

mixin formBooking(room)
  -
    const number = room.number || '999';
    const lux = room.lux || false;

  form.form.form--type_booking&attributes(attributes)

    +formRow({ mb: 2 })
      +roomTitle({ number: '888', lux: true, price: '9 990' })

    +formRow({ mb: 2 })
      +dateDropdown({ type: 'double', placeholder: 'ДД.ММ.ГГГГ' }).js-booking-datepicker

    +formRow({ mb: 1 })
      +inputBox('гости')
        +dropdown.js-booking-form-dropdown

    +formRow({ mb: 2 })
      +billInfo

    +button({
      title: 'забронировать',
      style: 'arrowed',
      size: 'l'
    })
