@use 'Styles/forward' as *

.footer
  background: #ffffff
  color: $dark50
  position: relative

  &--has-border
    border-top: 1px solid $dark10

  &__nav-section
    display: flex
    flex-direction: row
    justify-content: center
    padding-top: 80px

    @include media('>=desktop')
      padding-top: 100px
      padding-bottom: 83px
      justify-content: space-between

  &__col
    display: none
    text-align: center

    &:first-child
      display: block

    @include media('>=desktop')
      display: block
      text-align: left

    @include media('>=desktop')
      min-width: 160px
      max-width: 260px

    &-title
      margin-bottom: 13px
      color: $dark100
      font-size: 1.2rem
      text-transform: uppercase
      line-height: 2.4rem

  &__logo
    margin-bottom: 14px

  &__text
    line-height: 2.4rem

  &__nav-list
    list-style-type: none

    &-item
      margin-bottom: 14px

  // end __nav-list

  &__navlink
    text-decoration: none
    display: inline-block
    font-size: 1.4rem
    line-height: 2.4rem

    &:hover
      text-decoration: underline

  &__subscribe-form
    margin-top: 23px

  // end footer__nav-section subelements

  &__copy
    &-section
      align-items: center
      display: flex
      flex-direction: column
      gap: 17px
      justify-content: center
      line-height: 2rem
      padding-top: 120px
      padding-bottom: 120px

      @include media('>=desktop')
        flex-direction: row
        justify-content: space-between
        padding-top: 0
        padding-bottom: 0
        min-height: 70px

    &-text
      text-align: center

      @include media('>=desktop')
        text-align: left

  // Decorative border between nav and copy sections
  &::after
    border-bottom: 1px solid $dark10
    bottom: 71px
    position: absolute
    width: 100%

    @include media('>=desktop')
      content: ''
