include ../logo/logo
include ../input-box/input-box
include ../subscribe-form/subscribe-form

mixin footer
  footer.main-footer&attributes(attributes)
    .full-width-container.full-width-container--shrink_medium.main-footer__nav-section
      .main-footer__col
        +logoToxin.main-footer__logo
        p.main-footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

      +footCol('navigation').main-footer__col-title--expandable
        ul.main-footer__nav-list
          each title in ['About Us', 'News', 'Support', 'Products']
            +footLink(title)

      +footCol('about us').main-footer__col-title--expandable
        ul.main-footer__nav-list
          each title in ['Who we are', 'Our team', 'Careers', 'Investors']
            +footLink(title)

      +footCol('support').main-footer__col-title--expandable
        ul.main-footer__nav-list
          each title in ['Documentation', 'Community', 'Get in touch']
            +footLink(title)
      
      +footCol('subscribe to our newsletter')
        p.main-footer__text Receive our latest news and promotions in your inbox!
        +subscribeForm.main-footer__subscribe-form

    //- end __nav-section

    .main-footer__copy-section.full-width-container
      p.main-footer__copy-text Copyright &copy; 2018 Toxin UI Kit. All rights reserved.
      +footSocial

//--- sub mixins ---//

mixin footCol(title)
  .main-footer__col
    h2.main-footer__col-title&attributes(attributes)= title
    block

mixin footLink(title)
  li.main-footer__nav-list-item
    a(href="#some-url").main-footer__navlink= title

mixin footSocial
  .main-footer__social
    each iconName in ['twitter', 'facebook-squared', 'instagram']
      a(href="#some-url" rel="noreferrer" target="_blank").main-footer__social-link
        i(class=`main-footer__social-icon icon-${iconName}`)


//--- Footer Creative ---//
mixin footerCreative
  footer.main-footer.main-footer--creative.full-width-container.full-width-container--creative&attributes(attributes)
    +logoToxin.main-footer__logo
    p.main-footer__text.mb25 Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    +footSocial


//--- Russian Footer ---//

mixin footerRU
  footer.main-footer.main-footer--lang_ru&attributes(attributes)
    .full-width-container.full-width-container--shrink_medium.main-footer__nav-section
      .main-footer__col
        +logoToxin.main-footer__logo
        p.main-footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      +footCol('навигация').main-footer__col-title--expandable
        ul.main-footer__nav-list
          each title in ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
            +footLink(title)

      +footCol('о нас').main-footer__col-title--expandable
        ul.main-footer__nav-list
          each title in ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
            +footLink(title)

      +footCol('служба поддержки').main-footer__col-title--expandable
        ul.main-footer__nav-list
          each title in ['Соглашения', 'Сообщества', 'Связь с нами']
            +footLink(title)
      
      +footCol('подписка')
        p.main-footer__text Получайте специальные предложения и новости сервиса
        +subscribeForm('Email').main-footer__subscribe-form

    //- end __nav-section

    .main-footer__copy-section.full-width-container
      p.main-footer__copy-text Copyright &copy; 2018 Toxin отель. Все права защищены.
      +footSocial
