include ../logo/logo
include ../input-box/input-box

mixin footer
  footer.main-footer&attributes(attributes)
    .full-width-container.full-width-container--shrink_medium.main-footer__nav-section
      .main-footer__col
        +logoToxin.main-footer__logo
        p.main-footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

      +footCol('navigation').main-footer__col-title--expandable
        ul.main-footer__nav-list
          +footLink('About Us')
          +footLink('Support')
          +footLink('News')
          +footLink('Products')

      +footCol('about us').main-footer__col-title--expandable
        ul.main-footer__nav-list
          +footLink('Who we are')
          +footLink('Our team')
          +footLink('Careers')
          +footLink('Investors')

      +footCol('support').main-footer__col-title--expandable
        ul.main-footer__nav-list
          +footLink('Documentation')
          +footLink('Community')
          +footLink('Get in touch')
      
      +footCol('subscribe to our newsletter')
        p.main-footer__text Receive our latest news and promotions in your inbox!
        +inputBox('', 'm')
          +textField('Your email address', 'email', 'subscribe').main-footer__subscribe

    //- end __nav-section

    .main-footer__copy-section.full-width-container
      p.main-footer__copy-text Copyright &copy; 2018 Toxin UI Kit. All rights reserved.
      +footsocial

//--- sub mixins ---//

mixin footCol(title)
  .main-footer__col
    h2.main-footer__col-title&attributes(attributes)= title
    block

mixin footLink(title)
  li.main-footer__nav-list-item
    a(href="#some-url").main-footer__navlink= title

mixin footsocial
  .main-footer__social
    a(href="#some-url").main-footer__social-link
      i.main-footer__social-icon.icon-twitter
    a(href="#some-url").main-footer__social-link
      i.main-footer__social-icon.icon-facebook-squared
    a(href="#some-url").main-footer__social-link
      i.main-footer__social-icon.icon-instagram


//--- Footer Creative ---//
mixin footerCreative
  footer.main-footer.main-footer--creative.full-width-container.full-width-container--creative&attributes(attributes)
    +logoToxin.main-footer__logo
    p.main-footer__text.mb25 Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    +footsocial


//--- Russian Header ---//

mixin footerRU
  footer.main-footer&attributes(attributes)
    .full-width-container.full-width-container--shrink_medium.main-footer__nav-section
      .main-footer__col
        +logoToxin.main-footer__logo
        p.main-footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      +footCol('навигация').main-footer__col-title--expandable
        ul.main-footer__nav-list
          +footLink('О нас')
          +footLink('Новости')
          +footLink('Служба поддержки')
          +footLink('услуги')

      +footCol('о нас').main-footer__col-title--expandable
        ul.main-footer__nav-list
          +footLink('О сервисе')
          +footLink('Наша команда')
          +footLink('Вакансии')
          +footLink('Инвесторы')

      +footCol('служба поддержки').main-footer__col-title--expandable
        ul.main-footer__nav-list
          +footLink('Соглашения')
          +footLink('Сообщества')
          +footLink('Связь с нами')
      
      +footCol('подписка')
        p.main-footer__text Получайте специальные предложения и новости сервиса
        +inputBox('', 'm')
          +textField('Your email address', 'email', 'subscribe').main-footer__subscribe

    //- end __nav-section

    .main-footer__copy-section.full-width-container
      p.main-footer__copy-text Copyright &copy; 2018 Toxin отель. Все права зачищены XD.
      +footsocial
