@use 'Styles/forward' as fw

.main-footer
  background: #ffffff
  color: fw.$dark50

  &__nav-section
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    padding-top: 50px
    padding-bottom: 50px
    border-bottom: 1px solid fw.$dark10

    @include fw.media('>=desktop')
      padding-top: 100px
      padding-bottom: 83px
      justify-content: space-between

  &__col
    display: flex
    flex-flow: column nowrap

    @include fw.media('<footcols')
      flex: 100%

    + .main-footer__col
      margin-top: 20px

      @include fw.media('>=footcols')
        margin-top: 40px

      @include fw.media('>=desktop')
        margin-top: 0

    &:first-of-type,
    &:last-of-type
      @include fw.media('<widest')
        align-items: center

    @include fw.media('>=desktop')
      min-width: 160px
      max-width: 260px

    &-title
      margin-bottom: 13px
      color: fw.$dark100
      font-size: 1.2rem
      text-transform: uppercase
      text-align: center
      line-height: 2.4rem

      &--expandable
        cursor: pointer

        &::after
          @extend .material-icons
          content: '\e5cf'
          vertical-align: top
          transition: all .1s

        @include fw.media('>=footcols')
          cursor: default

          &::after
            display: none

      @include fw.media('>=footcols')
        text-align: left

      &--expanded::after
        transform: rotate(-180deg)
        transition: all .1s

  &__logo
    margin-bottom: 14px

  &__text
    line-height: 2.4rem
    @include fw.media('<desktop')
      max-width: 560px
      text-align: center

  &__nav-list
    display: none
    list-style-type: none
    text-align: center

    @include fw.media('>=footcols')
      display: block
      text-align: left

    &-item
      margin-bottom: 14px

    &--expanded
      display: block

  // end __nav-list

  &__navlink
    text-decoration: none
    display: inline-block
    font-size: 1.4rem
    line-height: 2.4rem

    &:hover
      text-decoration: underline

  &__subscribe
    margin-top: 23px

  // end footer__nav-section subelements

  &__copy-section
    display: flex
    flex-flow: column nowrap
    align-items: center
    min-height: 70px
    padding: 40px 20px

    @include fw.media('>=desktop')
      flex-flow: row nowrap
      padding: 0 20px

  &__copy-text
    text-align: center
    width: 220px

    @include fw.media('>=desktop')
      text-align: left
      width: auto

  &__social
    margin: 20px 0 0 0

    @include fw.media('>=desktop')
      height: 3.2rem
      margin: 0 -5px 0 auto

  &__social-link
    display: inline-block
    // width: 3rem
    text-align: center
    margin-left: 10px

  &__social-icon
    font-size: 2.4rem

    // chrome sux
    &::before
      @extend .text-gradient

  // Creative Footer
  &--creative
    padding-top: 100px
    padding-block: 100px
    text-align: center

.main-footer--lang_ru
  @include fw.media('>=footcols')
    .main-footer__logo
      margin-bottom: 15px

    .main-footer__col-title
      margin-bottom: 14px
