include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/input-box/input-box
include ~CommonBlocks/button/button
include ~CommonBlocks/pagination/pagination
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/date-dropdown/date-dropdown
include ~CommonBlocks/image-title/image-title
include ~CommonBlocks/user-comment/user-comment

+head('Form Elements')
  body.page.page--layout_form-elements
    +headerUIKit
    main.main-content.main-content--width_m-fixed.main-content--page_form-elements

      //- grid container ---------------------------//

      .form-elements__grid


        //- a 1 --------------------------------------//

        .form-elements__grid-item(style='margin-bottom: 101px')
          +inputBox('text field').mb22
            +textField('Email')

          +inputBox('text field').mb21
            +textField('This is pretty awesome', 'text', 'uikit_always-focused')

          +inputBox('dropdown').mb23
            +inputDrop('single', 'Сколько гостей')
              each title in ['взрослые', 'дети', 'младенцы']
                +dropOption(title, '', '', '', 0, 10)
 
          +inputBox('masked text field').mb42
            +maskedDate

          //- double date dropdown
          +datepickerDouble.form__datepicker-double.js-datepicker-double.mb42

          //- filter date dropdown
          +inputBox('filter date dropdown', 'm').js-datepicker-range.mb42
            +filterDateDrop

          //- subscribtion text field
          +inputBox('subscribtion text field', 'm')
            +textField('Email', 'email')


        //- a 2 --------------------------------------//

        .form-elements__grid-item
          //- checkbox buttons
          +inputBox('checkbox buttons', 's').mb41
            .mb16
            +checkbox('Можно курить')
            +checkbox('Можно с питомцами', true)
            +checkbox("Можно пригласить гостей\n(до 10 человек)", true)

          //- radio buttons
          +inputBox('radio buttons').mb41
            .mb16
            +radioGroup('gender')
              +radioItem('man', 'Мужчина', true)
              +radioItem('woman', 'Женщина')

          //- toggle
          +inputBox('toggle').mb44
            .mb16
            +inputToggle('Получать спецпредложения', true)
            .mb14
            +inputToggle('Получать спецпредложения')

          //- like button
          +inputBox('like button', 'm').mb40
            .mb16
            +likeBtn(2)
            +likeBtn(12, true)

          //- rate button
          +inputBox('rate button')
            .mb14
            +starRating(4)
            +starRating(5, true)


        //- a 3 --------------------------------------//

        .form-elements__grid-item
          //- range slider
          +inputBox('range slider', 'm').mb32
            +rangeSlider

          //- buttons
          +inputBox('buttons').mb40
            .mb15
            +button('click me','gradient','s',false)
            +button('click me','gradient','s',true).ml20
            
            .mb30
            +button('click me','bordered','s',false)
            +button('click me','bordered','s',true).ml20
            
            .mb31
            +button('click me','text','auto',false)
            +button('click me','text','auto',true).ml20

            .mb30
            +button('перейти к оплате','arrowed','l',false)

          //- pagination
          +inputBox('pagination', 's')
            .mb17
            +pagination


        //- b 1 --------------------------------------//

        .form-elements__grid-item(style="margin-bottom: 200px")
          //- dropdown
          +inputBox('dropdown', 'm').mb21
            +inputDrop('multi', '')
              +dropOption('спальни', 'спальня', 'спальни', 'спален', 1, 3, 2)
              +dropOption('кровати', 'кровать', 'кровати', 'кроватей', 1, 6, 4)
              +dropOption('ванные комнаты', 'ванная комната', 'ванных комнаты', 'ванных комнат', 0, 3, 1)

          //- dropdown expanded
          +inputBox('dropdown', 'm')
            +inputDrop('multi', '', true)
              +dropOption('спальни', 'спальня', 'спальни', 'спален', 1, 3, 2)
              +dropOption('кровати', 'кровать', 'кровати', 'кроватей', 1, 6, 2)
              +dropOption('ванные комнаты', 'ванная комната', 'ванных комнаты', 'ванных комнат', 0, 3, 0)


        //- b 2 --------------------------------------//

        .form-elements__grid-item
          //- wide dropdown with buttons ПРИМЕНИТЬ & ОЧИСТИТЬ
          +inputBox('dropdown')
            +inputDrop('single', 'Сколько гостей', true)
              each title in ['взрослые', 'дети', 'младенцы']
                +dropOption(title, '', '', '', 0, 10)

        //- b 3 --------------------------------------//
        
        .form-elements__grid-item
          //- wide dropdown with button ПРИМЕНИТЬ
          +inputBox('dropdown')
            +inputDrop('single', 'Сколько гостей', true)
              +dropOption('взрослые', '', '', '', 0, 10, 2)
              +dropOption('дети', '', '', '', 0, 10, 1)
              +dropOption('младенцы', '', '', '', 0, 10)

        //- c 1 --------------------------------------//

        .form-elements__grid-item
          .mb10
          //- expandable checkbox list
          +inputBox('', 'm')
            +checkboxGroup('Expandable checkbox list')
              each label in ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь' ]
                +checkbox(label)

          .mb38

          //- expanded expandable checkbox list
          +inputBox('', 'm')
            +checkboxGroup('Expandable checkbox list', true)
              each label in ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь' ]
                +checkbox(label)

          .mb20

        //- c 2 --------------------------------------//

        .form-elements__grid-item

          .mb15

          //- rich checkbox buttons
          +inputBox('rich checkbox buttons', 'm')
            .mb15
            +checkbox('Широкий коридор', false, 'Ширина коридоров в номере\nне менее 91 см.')
            +checkbox('Помощник для инвалидов', false, 'На 1 этаже вас встретит специалист\nи проводит до номера.')

        //- c 3 --------------------------------------//

        .form-elements__grid-item

          .mb15

          //- bullet list
          h3 bullet list
          .mb13
          ul.bullet-list
            each li in ['нельзя с питомцами', 'без вечеринок и мероприятий', "Время прибытия — после 13:00,\n а выезд до 12:00"]
              li.bullet-list__item= li

        //- d 1 --------------------------------------//

        .form-elements__grid-item
          //- комфорт
          +imageTitle('emoji', 'insert_emoticon', 'комфорт', 'шумопоглощающие стены')
          //- удобство
          +imageTitle('emoji', 'location_city', 'удобство', 'окно в каждой из спален')

          .mb50

        //- e 1 --------------------------------------//

        .form-elements__grid-item.form-elements__grid-item--wide
          .mb20

          //- comment (wide)
          +userComment('uid1111', 'Мурад Сарафанов', '5 дней назад', 12, true, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\nИ стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\nне жаловался из соседей.')
