include ../../components/common.blocks/input-box/input-box
include ../../components/common.blocks/button/button
include ../../components/common.blocks/pagination/pagination

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Form Elements

  body.page.page--layout_form-elements

    include ../../components/common.blocks/header/header

    main.main-content.main-content--page_form-elements.container.container--width_m

      .form-elements__flex-row

        .form-elements__flex-column

          +inputBox('text field')
            +textField('Email')

          +inputBox('text field')
            +textField('This is pretty awesome')

          +inputBox('dropdown')
            +inputDrop('Сколько народу', true)
              +dropOption('люди')
              +dropOption('азари')
              +dropOption('кроганы')
              +dropOption('кварианцы')
              
          +inputBox('masked text')
            +maskedDate

          //- double date dropdown
          .form__flex-row
            +inputBox('Date dropdown', 'xs')
              +dateDrop

            +inputBox('Date dropdown', 'xs')
              +dateDrop

          //- filter date dropdown
          +inputBox('filter date dropdown', 'm')
            +filterDateDrop

          //- subscription text field
          +inputBox('subscribe', 'm')
            +textField('Email', 'email', 'subscribe')


        .form-elements__flex-column

          //- checkbox buttons
          +inputBox('checkbox buttons', 's')
            +checkbox('Можно курить')
            +checkbox('Можно с питомцами', true)
            +checkbox("Можно пригласить гостей (до 10 человек)", true)

          //- radio buttons
          +inputBox('radioh')
            +radioGroup('gender')
              +radioItem('man', 'Мужчина', true)
              +radioItem('woman', 'Женщина')

          //- toggle
          +inputBox('togure')
            +inputToggle('Получать спецпредложения')
            +inputToggle('Получать спецпредложения', true)

          //- like button
          +inputBox('like', 'm', 'row')
            +likeBtn(2)
            +likeBtn(12, true)

          //- rate button
          +inputBox('rate button')
            .form__flex-row
              +starRating(4)
              +starRating(5)

        .form-elements__flex-column

          //- range slider
          +inputBox('range slider', 'm')
            +rangeSlider

          //- buttons
          +inputBox('buttons')
            .form__flex-row.mb20
              +button('click me','gradient','s',false)
              +button('click me','gradient','s',true)
            .form__flex-row.mb20
              +button('click me','bordered','s',false)
              +button('click me','bordered','s',true)
            .form__flex-row.mb20
              +button('click me','text','s',false)
              +button('click me','text','s',true)

            +button('перейти к оплате','arrowed','l',false)

          //- pagination
          +inputBox('pagination')
            +pagination

      .form-elements__flex-row
        .form-elements__flex-column

          //- dropdown

          //- dropdown expanded

          //- expandable checkbox list
          +inputBox
            +checkboxGroup('Expandable checkbox list')
              +checkbox('Завтрак')
              +checkbox('Письменный стол')
              +checkbox('Стул для кормления')
              +checkbox('Кроватка')
              +checkbox('Телевизор')
              +checkbox('Шампунь')
              +checkbox('Телевизор')
              +checkbox('Шампунь')

          //- expanded expandable checkbox list
          +inputBox
            +checkboxGroup('Expandable checkbox list', true)
              +checkbox('Завтрак')
              +checkbox('Письменный стол', true)
              +checkbox('Стул для кормления', true)
              +checkbox('Кроватка', true)
              +checkbox('Телевизор')
              +checkbox('Шампунь')
              +checkbox('Телевизор')
              +checkbox('Шампунь')

        .form-elements__flex-column
          //- wide dropdown with button ПРИМЕНИТЬ
          
          //- rich checkbox buttons
          
        .form-elements__flex-column
          //- wide dropdown with buttons ПРИМЕНИТЬ & ОЧИСТИТЬ

          //- bullet list



      .form-elements__flex-row

        .form-elements__flex-column
        //- комфорт

        //- удобство

        .form-elements__flex-column

          //- comment (wide)
