include ~UtilBlocks/head
include ~CommonBlocks/bullet-list/bullet-list
include ~CommonBlocks/button/button
include ~CommonBlocks/checkbox/checkbox
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/date-dropdown/date-dropdown
include ~CommonBlocks/header/header
include ~CommonBlocks/image-title/image-title
include ~CommonBlocks/input/input
include ~CommonBlocks/input-box/input-box
include ~CommonBlocks/like-counter/like-counter
include ~CommonBlocks/pagination/pagination
include ~CommonBlocks/radio/radio
include ~CommonBlocks/range/range
include ~CommonBlocks/star-rating/star-rating
include ~CommonBlocks/spoiler/spoiler
include ~CommonBlocks/subscribe-form/subscribe-form
include ~CommonBlocks/toggle/toggle
include ~CommonBlocks/user-comment/user-comment

+head('Form Elements')
  body.page.page--layout_form-elements
    header.header--uikit
      +logoUIKit
    main.main-content.fe-grid

        //- a 1 --------------------------------------//

        .fe-grid__item
          +inputBox('text field').mb20
            +input({ placeholder: 'Email' })

          +inputBox('text field').mb19
            +input({ placeholder: 'This is pretty awesome', value: 'This is pretty awesome' })

          +inputBox('dropdown').mb23
            +dropdown.js-dropdown-1
 
          +inputBox('masked text field').mb41
            +input({ placeholder: 'ДД.ММ.ГГГГ' }).js-masked-date

          //- double date dropdown
          +dateDropdown({ type: 'double', placeholder: 'ДД.ММ.ГГГГ' }).js-datepicker-double.mb40

          //- filter date dropdown
          +inputBox('filter date dropdown', 'm').js-datepicker-range.mb41
            +dateDropdown

          //- subscribtion text field
          +inputBox({ label: 'subscribtion text field', size: 'm' })
            +subscribeForm


        //- a 2 --------------------------------------//

        .fe-grid__item
          //- checkbox buttons
          +inputBox({ label: 'checkbox buttons', size: 's', labelClass: 'mb16' }).mb40
            +checkbox({ label: 'Можно курить' }).mb10
            +checkbox({ label: 'Можно с питомцами', checked: true }).mb10
            +checkbox({ label: 'Можно пригласить гостей\n(до 10 человек)', checked: true })

          //- radio buttons
          +inputBox({ label: 'radio buttons', labelClass: 'mb16' }).mb41
            .radio-group
              +radio({
                name: 'gender',
                value: 'man',
                label: 'Мужчина',
                checked: true,
              })
              +radio({
                name: 'gender',
                value: 'woman',
                label: 'Женщина',
              })

          //- toggle
          +inputBox({ label: 'toggle', labelClass: 'mb16' }).mb44
            +toggle({ label: 'Получать спецпредложения', checked: true }).mb14
            +toggle({ label: 'Получать спецпредложения' })

          //- like button
          +inputBox({ label: 'like button', size: 'm', labelClass: 'mb16' }).mb38
            +likeCounter({ value: 2 }).js-like.mr11
            +likeCounter({ value: 12, checked: true }).js-like

          //- rate button
          +inputBox({ label: 'rate button', labelClass: 'mb15' })
            +starRating({ value: 4 }).mr20
            +starRating({ value: 5, rateable: true }).js-rating


        //- a 3 --------------------------------------//

        .fe-grid__item
          //- range slider
          +inputBox({ label: 'range slider', size: 'm' }).mb32
            +rangeSlider.js-rangepicker

          //- buttons
          +inputBox({ label: 'buttons', labelClass: 'mb15' }).mb40
            +button().mr19.mb30
            +button({
              title: 'click me',
              style: 'gradient',
              size: 's',
              disabled: true
            }).mb30
            
            +button({
              title: 'click me',
              style: 'bordered',
              size: 's'
            }).mr19.mb31
            +button({
              title: 'click me',
              style: 'bordered',
              size: 's',
              disabled: true
            }).mb31

            br
            
            +button({
              title: 'click me',
              style: 'text',
              size: 'auto',
            }).mr20.mb30
            +button({
              title: 'click me',
              style: 'text',
              size: 'auto',
              disabled: true,
            }).mb30

            +button({
              title: 'перейти к оплате',
              style: 'arrowed',
              size: 'l',
            })

          //- pagination
          +inputBox({ label: 'pagination', size: 's', labelClass: 'mb17' })
            +pagination


        //- b 1 --------------------------------------//

        .fe-grid__item
          //- dropdown
          +inputBox({ label: 'dropdown', size: 'm' }).mb20
            +dropdown({type: 'multi'}).js-dropdown-2

          //- dropdown expanded
          +inputBox({ label: 'dropdown', size: 'm' })
            +dropdown({type: 'multi'}, true)

        //- b 2 --------------------------------------//

        .fe-grid__item
          //- wide dropdown with buttons ПРИМЕНИТЬ & ОЧИСТИТЬ
          +inputBox('dropdown')
            +dropdown({type: 'single'}, true)

        //- b 3 --------------------------------------//
        
        .fe-grid__item
          //- wide dropdown with button ПРИМЕНИТЬ
          +inputBox('dropdown')
            +dropdown({type: 'single'}, true)

        //- c 1 --------------------------------------//

        .fe-grid__item
          //- expandable checkbox list
          +inputBox({ size: 'm' }).mb40
            +spoiler({ title: 'Expandable checkbox list' }).js-spoiler
              each label in ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']
                +checkbox({ label })

          //- expanded expandable checkbox list
          +inputBox({ size: 'm' })
            +spoiler({ title: 'Expandable checkbox list', isOpen: true }).js-spoiler
              each label in ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']
                +checkbox({ label })

        //- c 2 --------------------------------------//

        .fe-grid__item

          //- rich checkbox buttons
          +inputBox({ label: 'rich checkbox buttons', size: 'm', labelClass: 'mb16' }).mt5
            +checkbox({
              label: 'Широкий коридор',
              text: 'Ширина коридоров в номере\nне менее 91 см.',
            }).mb10
            +checkbox({
              label: 'Помощник для инвалидов',
              text: 'На 1 этаже вас встретит специалист\nи проводит до номера.',
            })

        //- c 3 --------------------------------------//

        .fe-grid__item

          //- bullet list
          h3.mb13.mt5 bullet list
          +bulletList({ 
            list: [
              'Нельзя с питомцами',
              'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00,\n а выезд до 12:00',
            ] 
          })

        //- d 1 --------------------------------------//

        .fe-grid__item
          //- комфорт
          +imageTitle({
            type: 'emoji',
            src: 'insert_emoticon',
            heading: 'комфорт',
            text: 'шумопоглощающие стены',
          }).bb-10
          //- удобство
          +imageTitle({
            type: 'emoji',
            src: 'location_city',
            heading: 'удобство',
            text: 'окно в каждой из спален',
          }).bb-10.mb50


        //- e 1 --------------------------------------//

        .fe-grid__item.area-e

          //- comment (wide)
          +userComment({
            age: '5 дней назад',
            avatar: '../assets/images/uid1111.jpg',
            isLiked: true,
            likes: 12,
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\nИ стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\nне жаловался из соседей.',
            username: 'Мурад Сарафанов',
          }).mt20

    script(type="text/javascript" src="../scripts/form_elements.js")
