include ../../components/common.blocks/text-field/text-field


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body.page.page--layout_form-elements
    include ../../components/common.blocks/header/header
    main.main-content.main-content--page_form-elements.container.container--width_m
      //- textfield(mod, subtype, label, placeholder, sublabel)
      +textField('', '', 'text field', 'Email', 'default')
      +textField('', '', 'text field', 'This is pretty awesome', 'hover / focus')
      +textField('', 'text-field-dropdown', 'dropdown', 'Сколько гостей', 'default')
      +textField('', '', 'masked text field', '', 'default')