.page--layout_form-elements
  .main-content
    display: grid
    grid: 741px 334px auto auto / 446px 392px auto
    grid-template-areas: "a a a" "b b b" "c c c" "d e e"
    margin: 33px 0 0 140px

.area-e
  grid-area: e
