.main-content--page_form-elements
  padding-top: 35px

.form-elements__flex-row
  display: flex
  flex-direction: row
  margin-bottom: 60px

.form-elements__flex-column
  flex: auto
  max-width: 33%

.form-elements__flex-column + .form-elements__flex-column
  margin-left: 20px