include ../../components/common.blocks/input-box/input-box
include ../../components/common.blocks/input-box/__input/--dropdown


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body.page.page--layout_form-elements
    include ../../components/common.blocks/header/header
    main.main-content.main-content--page_form-elements.container.container--width_m

      +inputBox('text field', 'my-input-box')
        +textField('Email', 'my-input-box')

      +inputBox('text field', 'my-input-box-2')
        +textField('This is pretty awesome', 'my-input-box-2')

      +inputBox('dropdown')
        +inputDrop('Сколько народу')
          +dropOption('люди')
          +dropOption('азари')
          +dropOption('кроганы')
          +dropOption('кварианцы')
          