include ../../components/common.blocks/text-field/text-field


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body.page.page--layout_form-elements
    include ../../components/common.blocks/header/header
    main.main-content.main-content--page_form-elements.container.container--width_m
      //- textfield(mod, subtype, label, placeholder, sublabel)
      +textField('size_l', 'input', 'text field', 'Email', 'default')
      +textField('size_l', 'input', 'text field', 'This is pretty awesome', 'hover / focus')
      +textField('size_l', 'dropdown', 'dropdown', 'Сколько гостей', 'default')
      +textField('size_l', 'masked', 'masked text field', '', 'default')
      .input-group.input-group--layout_row
        +textField('size_s', 'date-dropdown', 'date dropdown', 'ДД.ММ.ГГГГ')
        +textField('size_s', 'date-dropdown', 'date dropdown', 'ДД.ММ.ГГГГ')