include __input/--text/text
include __input/--masked/masked
include __input/--dropdown/dropdown
include __input/--toggle/toggle
include __input/--radio/radio
include __input/--checkbox/checkbox

mixin inputBox(label, labelFor, size='l')
  .input-box.mb20(class='input-box--size_' + size)
    if label
      label(for=labelFor).input-box__label= label
    block