@use 'Styles/forward' as *

.input-box
  position: relative
  color: $dark100
  width: 100%

  &--layout_row
    flex-direction: row
    flex-wrap: wrap

  &--size

    &_l
      max-width: 320px

    &_m
      max-width: 266px

    &_s
      max-width: 240px

    &_xs
      max-width: 150px

    &_auto
      max-width: auto

  // end --size

  &__title
    margin-bottom: 5px
    font-size: 1.2rem
    line-height: 1.5rem
    font-weight: 700
    text-transform: uppercase
