include __input/--text/text
include __input/--masked/masked
include __input/--dropdown/dropdown
include __input/--toggle/toggle
include __input/--radio/radio
include __input/--checkbox/checkbox
include __input/--like/like

mixin inputBox(label, size='l', layout='column')
  .input-box.mb20(class='input-box--size_' + size, class=(layout == 'row') ? 'input-box--layout_row' : '')
    if label
      label.input-box__label= label
    block