include __input/--text/text
include __input/--masked/masked
include __input/--toggle/toggle
include __input/--radio/radio
include __input/--checkbox/checkbox
include __input/--like/like
include __input/--rate/rate
include __input/--range/range

mixin inputBox(label, size='l', layout='column', extraClass)
  .input-box(
    class='input-box--size_' + size,
    class=extraClass,
    class=(layout == 'row') ? 'input-box--layout_row' : '')
    if label
      h3.input-box__title= label
    block