include __input/--text
include __input/--masked
include __input/--dropdown

mixin inputBox(label, labelFor, size='l')
  .input-box.mb20(class='input-box--size_' + size)
    if label
      label(for=labelFor).input-box__label= label
    block