@use 'Styles/forward'
@use '__input/__input'

.input-box
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  font-family: forward.$mainFont
  color: forward.$dark100

.form__flex-row
  display: flex
  max-width: 320px
  flex-direction: row
  justify-content: space-between

.input-box--layout_row
  flex-direction: row
  flex-wrap: wrap

.input-box--size_l
  max-width: 320px

.input-box--size_m
  max-width: 266px

.input-box--size_s
  max-width: 240px

.input-box--size_xs
  max-width: 150px

.input-box__title
  width: 100%
  margin-bottom: 6px
  font-size: 1.2rem
  font-weight: 700
  text-transform: uppercase