include ~Components/box/box
include ~Components/button/button
include ~Components/dropdown/dropdown
include ~Components/input/input
include ~Components/radio/radio
include ~Components/toggle/toggle

mixin formRegistration
  form.form.form--type_registration&attributes(attributes)
    h1.form__title Регистрация аккаунта

    +box({ mb: 10 })
      +input({ placeholder: 'Имя'})
    +box({ mb: 10 })
      +input({ placeholder: 'Фамилия'})

    +box({ mb: 25, stretch: true })
      +radio({ name: 'gender', value: 'man', label: 'Мужчина', checked: true, })
      +radio({ name: 'gender', value: 'woman', label: 'Женщина', })
      +radio({ name: 'gender', value: 'other', label: 'Иное', })

    +box({ mb: 20, label: 'дата рождения' })
      +input({ placeholder: 'ММ.ДД.ГГГГ'}).js-dob-masked

    +box({ mb: 15, label: 'данные для входа в сервис' })
      +box({ mb: 10 })
        +input({ placeholder: 'Email', type: 'email' })
      +box({ mb: 10 })
        +input({ placeholder: 'Пароль', type: 'password' })
      +box({ mb: 10 })
        +toggle({ label: 'Получать спецпредложения' })

    +box({ mb: 30 })
      +button({ title: 'перейти к оплате', style: 'arrowed', size: 'l' })

    +box
      +formPrompt('Уже есть аккаунт на Toxin?')
        +buttonLink({ title: 'войти', style: 'bordered', size: 's', url: './login.html' })
