form.form.form--type_search-room
  h1.form__title Найдём номера под ваши пожелания
  .form__input-group.form__row
    .form__input-box.form__input-box--width_half
      label.form__input-box-label Прибытие
      input(type="date" placeholder="ДД.ММ.ГГГГ").form__input.form__input--type_date
    .form__input-box.form__input-box--width_half
      label.form__input-box-label Выезд
      input(type="date" placeholder="ДД.ММ.ГГГГ").form__input.form__input--type_date
  .form__input-group
    .form__input-box.form__input-box--width_full
      label.form__input-box-label Гости
      input(type="number" placeholder="Сколько гостей").form__input.form__input--type_number-of-guests
  input.form__btn.form__btn--role_main(type="submit" value="Подобрать номер")