// common
@use 'forward'
// pages
@use 'Pages/colors/colors'
@use 'Pages/cards/cards'
@use 'Pages/form-elements/form-elements'
// components
@use 'CommonBlocks/header/header'
@use 'CommonBlocks/input-box/input-box'
@use 'CommonBlocks/button/button'
@use 'CommonBlocks/pagination/pagination'
@use 'CommonBlocks/dropdown/dropdown'

html
  box-sizing: border-box
  font-family: Montserrat, sans-serif
  line-height: 1
  font-size: 10px

*, *:before, *:after
  box-sizing: inherit
  margin: 0
  padding: 0
  font-size: 100%
  line-height: inherit
  font-family: inherit
  color: inherit
  outline: none

html, body
  min-height: 100vh

.router
  display: flex
  flex-direction: column

.router__nav
  display: flex
  justify-content: center
  font-size: 1.6rem

.router__navlink
  padding: 10px
    
  &:hover
    background-color: #eee

.router__current-page
  flex: auto
  // border: 2px solid red
  border: 2px solid transparent
  

.container
  margin-left: auto
  margin-right: auto

.container--width_m
  max-width: 1158px

.container--width_l
  max-width: 1440px