// common
@use 'forward'
// pages
@use 'Pages/colors/colors'
@use 'Pages/cards/cards'
@use 'Pages/form-elements/form-elements'
// components
@use 'CommonBlocks/header/header'
@use 'CommonBlocks/input-box/input-box'
@use 'CommonBlocks/button/button'
@use 'CommonBlocks/pagination/pagination'

html
  box-sizing: border-box
  font-family: Montserrat, sans-serif
  line-height: 1
  font-size: 10px

*, *:before, *:after
  box-sizing: inherit
  margin: 0
  padding: 0
  font-size: 100%
  line-height: inherit
  font-family: inherit
  color: inherit
  outline: none

.mb1
  margin-bottom: 1px
.mb10
  margin-bottom: 10px
.mb11
  margin-bottom: 11px
.mb12
  margin-bottom: 12px
.mb13
  margin-bottom: 13px
.mb14
  margin-bottom: 14px
.mb15
  margin-bottom: 15px
.mb18
  margin-bottom: 18px
.mb19
  margin-bottom: 19px
.mb20
  margin-bottom: 20px
.mb21
  margin-bottom: 21px
.mb22
  margin-bottom: 22px
.mb23
  margin-bottom: 23px
.mb36
  margin-bottom: 36px
.mb37
  margin-bottom: 37px
.mb38
  margin-bottom: 38px
.mb39
  margin-bottom: 39px
.mb40
  margin-bottom: 40px
.mb42
  margin-bottom: 42px

html, body
  min-height: 100vh

.router
  display: flex
  flex-direction: column

.router__nav
  display: flex
  justify-content: center
  font-size: 1.6rem

.router__navlink
  padding: 10px
    
  &:hover
    background-color: #eee

.router__current-page
  flex: auto
  // border: 2px solid red
  border: 2px solid transparent
  

.container
  margin-left: auto
  margin-right: auto

.container--width_m
  max-width: 1158px

.container--width_l
  max-width: 1440px