.mb1
  margin-bottom: 1px !important
.mb2
  margin-bottom: 2px !important
.mb3
  margin-bottom: 3px !important
.mb4
  margin-bottom: 4px !important
.mb5
  margin-bottom: 5px !important
.mb6
  margin-bottom: 6px !important
.mb7
  margin-bottom: 8px !important
.mb9
  margin-bottom: 9px !important
.mb10
  margin-bottom: 10px !important
.mb11
  margin-bottom: 11px !important
.mb12
  margin-bottom: 12px !important
.mb13
  margin-bottom: 13px !important
.mb14
  margin-bottom: 14px !important
.mb15
  margin-bottom: 15px !important
.mb16
  margin-bottom: 16px !important
.mb17
  margin-bottom: 17px !important
.mb18
  margin-bottom: 18px !important
.mb19
  margin-bottom: 19px !important
.mb20
  margin-bottom: 20px !important
.mb21
  margin-bottom: 21px !important
.mb22
  margin-bottom: 22px !important
.mb23
  margin-bottom: 23px !important
.mb24
  margin-bottom: 24px !important
.mb25
  margin-bottom: 25px !important
.mb26
  margin-bottom: 26px !important
.mb27
  margin-bottom: 27px !important
.mb28
  margin-bottom: 28px !important
.mb29
  margin-bottom: 29px !important
.mb30
  margin-bottom: 30px !important
.mb31
  margin-bottom: 31px !important
.mb32
  margin-bottom: 32px !important
.mb33
  margin-bottom: 33px !important
.mb34
  margin-bottom: 34px !important
.mb35
  margin-bottom: 35px !important
.mb36
  margin-bottom: 36px !important
.mb37
  margin-bottom: 37px !important
.mb38
  margin-bottom: 38px !important
.mb39
  margin-bottom: 39px !important
.mb40
  margin-bottom: 40px !important
.mb41
  margin-bottom: 41px !important
.mb42
  margin-bottom: 42px !important
.mb43
  margin-bottom: 43px !important
.mb44
  margin-bottom: 44px !important
.mb45
  margin-bottom: 45px !important
.mb46
  margin-bottom: 46px !important
.mb47
  margin-bottom: 47px !important
.mb48
  margin-bottom: 48px !important
.mb49
  margin-bottom: 49px !important
.mb50
  margin-bottom: 50px !important
.mb51
  margin-bottom: 51px !important
.mb52
  margin-bottom: 52px !important
.mb53
  margin-bottom: 53px !important
.mb54
  margin-bottom: 54px !important
.mb55
  margin-bottom: 55px !important
.mb56
  margin-bottom: 56px !important
.mb57
  margin-bottom: 57px !important
.mb58
  margin-bottom: 58px !important
.mb59
  margin-bottom: 59px !important
.mb60
  margin-bottom: 60px !important
.mb101
  margin-bottom: 101px !important

.ml-1
  margin-left: -1px !important

.ml20
  margin-left: 20px !important

.mr5
  margin-right: 5px !important