$mainFont: 'Montserrat', 'Gotham', 'Proxima Nova', 'Liberation Sans', sans-serif

h1, h2, h3, h4
  font-weight: 700

h1
  font-size: 2.4rem
  line-height: 2.9rem

h2
  font-size: 1.9rem
  line-height: 2.3rem

h3
  font-size: 1.2rem
  text-transform: uppercase
  line-height: 1.5rem

p
  font-size: 1.4rem
