@use 'palette'

$mainFont: 'Montserrat', sans-serif
$titleFont: 'Quicksand', 'Open Sans', sans-serif

.ff-montserrat
  font-family: 'Montserrat', sans-serif

.ff-quicksand
  font-family: 'Quicksand', 'Open Sans', sans-serif

.font-weight_light
  font-weight: 300

.font-weight_normal
  font-weight: 400

.font-weight_bold
  font-weight: 700

h1,h2,h3
  line-height: 1.25

h1
  font-size: 24px

h2
  font-size: 19px

h3
  font-size: 12px
  text-transform: uppercase

p
  font-size: 14px
  // color: palette.$dark75
  line-height: 2

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'

.centered-flex
  display: flex
  align-items: center
  justify-content: center