include ~Components/input/input

mixin subscribeForm(placeholder='Email')
  form.subscribe-form&attributes(attributes)
    +input({ placeholder, type: 'email'}).input--has-icon
    button.subscribe-form__submit(type='submit')
