include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/input-box/input-box

mixin formSearchRoom
  form.form.form--type_search-room&attributes(attributes)
    
    h1.form-title Найдём номера под ваши пожелания

    +dateDropdown({ type: 'double', placeholder: 'ДД.ММ.ГГГГ' }).form__datepicker-double.js-search-room-datepicker

    +inputBox('гости', 'l').mb21
      +inputDrop('single', 'Сколько гостей').mb10
        each title in ['взрослые', 'дети', 'младенцы']
          +dropOption(title, '', '', '', 0, 10)
    
    +aButton({ 
      title: 'подобрать номер', 
      style: 'arrowed', 
      size: 'l',
      url: './search-room-filter.html'
    }).form__btn--main
