include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/input-box/input-box

mixin formSearchRoom
  form.form.form--type_search-room&attributes(attributes)
    
    h1.form__title Найдём номера под ваши пожелания

    +datepickerDouble.form__datepicker-double

    +inputBox('гости', 'l').mb21
      +inputDrop('single', 'Сколько гостей').mb10
        each title in ['взрослые', 'дети', 'младенцы']
          +dropOption(title, '', '', '', 0, 10)
    
    +button('подобрать номер', 'arrowed', 'l', false).form__btn--main
