include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/input-box/input-box

mixin formSearchRoom
  form.form.form--type_search-room&attributes(attributes)
    +formRow({ mb: 1 })
      h1 Найдём номера под ваши пожелания

    +dateDropdown({ type: 'double', placeholder: 'ДД.ММ.ГГГГ' }).js-search-room-datepicker

    +formRow({ mb: 2 })
      +inputBox('гости')
        +dropdown.js-search-room-dropdown
    
    +aButton({ 
      title: 'подобрать номер', 
      style: 'arrowed', 
      size: 'l',
      url: './search-room-filter.html'
    })
