main.main-content
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium magnam aliquam quaerat dolor a magni facilis id numquam maiores ducimus.
  img(src="assets/images/bf.jpg", alt="buterfly")
