include ~CommonBlocks/box/box
include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/date-dropdown/date-dropdown
include ~CommonBlocks/input/input

mixin formLogin
  form.form.form--type_login&attributes(attributes)
    +box({ mb: 21 })
      h1 Войти
    +box({ mb: 10 })
      +input({ placeholder: 'Email', type: 'email' })
    +box({ mb: 20 })
      +input({ placeholder: 'Пароль', type: 'password' })
    +box({ mb: 30 })
      +button({ 
        title: 'войти', 
        style: 'arrowed', 
        size: 'l'
      })
    +box
      +formPrompt('Нет аккаунта на Toxin?')
        +aButton({ 
          title: 'создать', 
          style: 'bordered', 
          size: 's', 
          url: './register.html' 
        })
