include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/date-dropdown/date-dropdown
include ~CommonBlocks/input/input
include ~CommonBlocks/input-box/input-box

mixin formLogin
  form.form.form--type_login&attributes(attributes)
    +formRow({ mb: 2 })
      h1 Войти
    +formRow({ mb: 1 })
      +input({ placeholder: 'Email', type: 'email' })
    +formRow({ mb: 2 })
      +input({ placeholder: 'Пароль', type: 'password' })
    +formRow({ mb: 3 })
      +button({ 
        title: 'войти', 
        style: 'arrowed', 
        size: 'l'
      })
    +formRow
      +formPrompt('Нет аккаунта на Toxin?')
        +aButton({ 
          title: 'создать', 
          style: 'bordered', 
          size: 's', 
          url: './register.html' 
        })
