include ../../../button/button
include ../../../dropdown/dropdown
include ../../../input-box/input-box
include ../../__prompt/prompt

mixin formLogin
  form.form.form--type_login
    h1.form__title Войти
    +textField('Email', 'email').mb10
    +textField('Пароль', 'password')
    +button('войти', 'arrowed', 'l').form__btn--main
    +formPrompt('Нет аккаунта на токсин?')
      +button('создать', 'bordered').form__btn.form__btn--prompt