mixin head(title)
  doctype html
  html(lang='ru')
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible', content='ie=edge')
      meta(
        name='description',
        content='Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды». Лучшие номера для вашей работы, отдыха и просто вдохновения'
      )
      meta(name='keywords', content='отель toxin, FSD, стажировка')
      link(rel='icon', href='../assets/images/favicon.png')
      link(rel='stylesheet', href='../styles/app.css')
      title= title

    block

    script(type='text/javascript', src='../scripts/app.js')
