mixin starRating(options = {})
  -
    const ratingValue = options.value || 5;

  .star-rating(class = options.rateable && 'star-rating--rateable')&attributes(attributes)
    each val in [5, 4, 3, 2, 1]
      if (val === ratingValue)
        .star-rating__star.star-rating__star--active(class = options.rateable && 'star-rating__star--rateable')
      else
        .star-rating__star(class = options.rateable && 'star-rating__star--rateable')
