@use 'Styles/forward' as fw

.button
  @extend .centered-flex
  display: inline-flex
  position: relative
  width: 100%
  font-family: 'Montserrat' sans-serif
  text-transform: uppercase
  text-align: center
  font-size: 1.2rem
  font-weight: 700
  border: none
  text-decoration: none
  cursor: pointer

  &:disabled
    cursor: default

  &--style

    &_gradient,
    &_arrowed
      justify-content: center
      align-items: center
      background: fw.$mainGradient
      color: #fff
      height: 44px
      border-radius: 22px

      &:disabled
        background: fw.$mainGradient50

    &_gradient
      padding: 0 18px

    &_arrowed::after
      @extend .centered-flex
      position: absolute
      height: 44px
      width: 44px
      top: 0
      right: 0
      @extend .material-icons
      content: '\e5c8'
      color: #fff

    &_text
      @extend .text-gradient
      line-height: 1.5rem

      &:disabled
        color: fw.$dark50
        background: transparent

    &_bordered
      height: 44px
      padding: 0 9px

      background: linear-gradient(#fff, #fff), fw.$mainGradient
      background-repeat: no-repeat
      background-origin: padding-box, border-box

      border: 10px solid transparent
      border-radius: 22px

      color: fw.$purple

      &::before
        content: ""
        position: absolute
        top: -8px
        bottom: -8px
        left: -8px
        right: -8px
        border: 8px solid #fff
        border-radius: 20px

      &:disabled
        opacity: 0.5

  // end --style

  &--size
    &_auto
      width: auto
    &_s
      max-width: 99px
    &_m
      max-width: 266px
    &_l
      max-width: 320px
