@use 'Styles/forward' as *

.button
  @extend .centered-flex
  display: inline-flex
  position: relative
  width: 100%
  font-family: $mainFont
  text-transform: uppercase
  text-align: center
  font-size: 1.2rem
  font-weight: 700
  border: none
  text-decoration: none
  cursor: pointer

  &:disabled
    cursor: default

  &--style

    &_gradient,
    &_arrowed
      justify-content: center
      align-items: center
      background: $mainGradient
      color: #fff
      line-height: 44px
      border-radius: 22px

      &:disabled
        background: $mainGradient50

    &_gradient
      padding: 0 18px

    &_arrowed::after
      @extend .centered-flex
      @extend .material-icons
      position: absolute
      width: 44px
      right: 0
      content: '\e5c8'
      color: #fff

    &_text
      @extend .text-gradient
      line-height: 1.5rem

      &:disabled
        color: $dark50
        background: transparent

    &_bordered
      color: $purple
      background: linear-gradient(#fff, #fff), $mainGradient
      background-repeat: no-repeat
      background-origin: padding-box, border-box
      border: 10px solid transparent
      border-radius: 22px
      line-height: 2.4rem

      &::before
        content: ""
        position: absolute
        top: -8px
        bottom: -8px
        left: -8px
        right: -8px
        border: 8px solid #fff
        border-radius: 20px

      &:disabled
        opacity: 0.5

  // end --style

  &--size
    &_auto
      width: auto
    &_s
      max-width: 99px
    &_m
      max-width: 266px
    &_l
      max-width: 320px
