mixin colorBox(colorName, classSuffix, hexCode)
  figure.color-list__item
    .color-list__preview-box(class=` color-list__preview-box--bg_${classSuffix}`)
    figcaption.color-list__caption
      h2.color-list__color-title= colorName
      span.color-list__color-hex= hexCode
