include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/input/input
include ~CommonBlocks/input-box/input-box
include ~CommonBlocks/radio/radio
include ~CommonBlocks/toggle/toggle

mixin formRegistration
  form.form.form--type_registration&attributes(attributes)
    .box.box--mb_2-1
      h1 Регистрация аккаунта

    .box.box--mb_1
      +input({ placeholder: 'Имя'})
    .box.box--mb_1
      +input({ placeholder: 'Фамилия'})

    .box.box--mb_2-5.box--spread
      +radio({
        name: 'gender',
        value: 'man',
        label: 'Мужчина',
        checked: true,
      })
      +radio({
        name: 'gender',
        value: 'woman',
        label: 'Женщина',
      })
      +radio({
        name: 'gender',
        value: 'other',
        label: 'Иное',
      })

    .box.box--mb_2
      +inputBox('дата рождения')
        +input({ placeholder: 'ММ.ДД.ГГГГ'}).js-dob-masked

    .box.box--mb_1-5
      +inputBox('данные для входа в сервис')
        .box.box--mb_1
          +input({ placeholder: 'Email', type: 'email' })
        .box.box--mb_1
          +input({ placeholder: 'Пароль', type: 'password' })
        .box.box--mb_1
          +toggle({ label: 'Получать спецпредложения' })
    
    .box.box--mb_3
      +button({
        title: 'перейти к оплате',
        style: 'arrowed',
        size: 'l'
      })

    .box
      +formPrompt('Уже есть аккаунт на Toxin?')
        +aButton({
          title: 'войти',
          style: 'bordered',
          size: 's',
          url: './login.html'
        })
