include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/input/input
include ~CommonBlocks/input-box/input-box
include ~CommonBlocks/radio/radio
include ~CommonBlocks/toggle/toggle

mixin formRegistration
  form.form.form--type_registration&attributes(attributes)
    +formRow({ mb: 2 })
      h1 Регистрация аккаунта

    +formRow({ mb: 1 })
      +input({ placeholder: 'Имя'})
    +formRow({ mb: 1 })
      +input({ placeholder: 'Фамилия'})

    +formRow({ mb: 2, spread: true })
      +radio({
        name: 'gender',
        value: 'man',
        label: 'Мужчина',
        checked: true,
      })
      +radio({
        name: 'gender',
        value: 'woman',
        label: 'Женщина',
      })
      +radio({
        name: 'gender',
        value: 'other',
        label: 'Иное',
      })

    +formRow({ mb: 2 })
      +inputBox('дата рождения')
        +input({ placeholder: 'ММ.ДД.ГГГГ'}).js-dob-masked

    +formRow({ mb: 2 })
      +inputBox('данные для входа в сервис')
        +formRow({ mb: 1 })
          +input({ placeholder: 'Email', type: 'email' })
        +formRow({ mb: 1 })
          +input({ placeholder: 'Пароль', type: 'password' })
        +formRow({ mb: 1 })
          +toggle({ label: 'Получать спецпредложения' })
    
    +formRow({ mb: 3 })
      +button({
        title: 'перейти к оплате',
        style: 'arrowed',
        size: 'l'
      })

    +formRow
      +formPrompt('Уже есть аккаунт на Toxin?')
        +aButton({
          title: 'войти',
          style: 'bordered',
          size: 's',
          url: './login.html'
        })
