include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/input-box/input-box
include ~CommonBlocks/form/__prompt/prompt
include ~CommonBlocks/toggle/toggle

mixin formRegistration
  form.form.form--type_registration&attributes(attributes)

    h1.form__title.mb21 Регистрация аккаунта

    +textField('Имя').mb10
    +textField('Фамилия').mb10

    +radioGroup('gender').mb24
      +radioItem('man', 'Мужчина', true)
      +radioItem('woman', 'Женщина')

    +inputBox('дата рождения').mb20
      +textField('ММ.ДД.ГГГГ').js-dob-masked

    +inputBox('данные для входа в сервис').mb24
      +textField('Email', 'email').mb10
      +textField('Пароль', 'password').mb10
      +toggle({ label: 'Получать спецпредложения' })

    +button({
      title: 'перейти к оплате',
      style: 'arrowed',
      size: 'l'
    }).form__btn--main

    +formPrompt('Уже есть аккаунт на Toxin?')
      +aButton({
        title: 'войти',
        style: 'bordered',
        size: 's',
        url: './login.html'
      }).form__btn.form__btn--prompt
