include ~CommonBlocks/button/button
include ~CommonBlocks/dropdown/dropdown
include ~CommonBlocks/input-box/input-box
include ~CommonBlocks/form/__prompt/prompt

mixin formRegistration
  form.form.form--type_registration&attributes(attributes)
    
    h1.form-title Регистрация аккаунта

    +textField('Имя').mb10
    +textField('Фамилия').mb10

    +radioGroup('gender').mb24
      +radioItem('man', 'Мужчина', true)
      +radioItem('woman', 'Женщина')

    +inputBox('дата рождения').mb20
      +maskedDate

    +inputBox('данные для входа в сервис').mb24
      +textField('Email', 'email').mb10
      +textField('Пароль', 'password').mb10
      +inputToggle('Получать спецпредложения')
    
    +button('перейти к оплате','arrowed','l',false).form__btn--main

    +formPrompt('Уже есть аккаунт на Toxin?')
      +aButton('войти', 'bordered', 's').form__btn.form__btn--prompt