mixin pagination
  .pagination
    a(href="#some-url").pagination__control.pagination__control--left.pagination__control--hidden
      i.material-icons arrow_back_ios
    a(href="#some-url").pagination__page.pagination__page--active 1
    a(href="#some-url").pagination__page 2
    a(href="#some-url").pagination__page 3
    .pagination__gap ...
    a(href="#some-url").pagination__page 15
    a(href="#some-url").pagination__control.pagination__control--right
      i.material-icons arrow_forward
    p.pagination__tooltip 1 – 12 из 100+ вариантов аренды