@use 'Styles/forward' as fw

.pagination
  display: inline-flex
  flex-flow: row wrap
  justify-content: center
  width: 100%
  font-size: 1.2rem

  &__control,
  &__page,
  &__gap
    @extend .centered-flex
    height: 40px
    width: 40px
    border-radius: 20px

  &__control
    background: fw.$secondaryGradient
    color: #fff
    cursor: pointer

    &--hidden
      display: none

  &__page
    color: fw.$dark50
    cursor: pointer

    &--active
      background: fw.$mainGradient
      font-weight: 700
      color: #fff

  &__tooltip
    width: 100%
    margin-top: 13px
    font-size: 1.4rem
    color: fw.$dark75
    text-align: center