@use 'Styles/forward' as fw

.pagination
  display: inline-flex
  flex-flow: row wrap
  font-size: 1.2rem

.pagination__control,
.pagination__page,
.pagination__gap
  @extend .centered-flex
  height: 40px
  width: 40px
  border-radius: 20px

.pagination__control,
.pagination__page
  cursor: pointer

.pagination__control
  background: fw.$secondaryGradient
  color: #fff

.pagination__control--hidden
  display: none

.pagination__page
  color: fw.$dark50

.pagination__page--active
  background: fw.$mainGradient
  font-weight: 700
  color: #fff

.pagination-tooltip
  width: 100%
  margin-top: 13px
  font-size: 1.4rem
  color: fw.$dark75
  text-align: center