@use 'Styles/forward' as fw

.dropdown,
.date-dropdown
  position: relative

  *::selection
    background: transparent

  &::after
    @extend .material-icons
    @extend .centered-flex
    content: '\e5cf'
    position: absolute
    right: 0
    top: 0
    width: 44px
    height: 44px
    color: fw.$dark50
    transition: all .1s
    z-index: 10

  &--is-open,
  &--force-open
    box-shadow: 0 10px 20px fw.$dark05

    .dropdown__display
      border-color: fw.$dark50
      border-radius: 4px 4px 0 0

    &::after
      transform: rotate(-180deg)
      transition: all .1s

  // end --is-open
  // end --force-open

  &__display
    position: relative
    cursor: pointer
    background: transparent
    color: fw.$dark75
    border-color: fw.$dark25
    z-index: 20
    
    &::placeholder
      color: fw.$dark75

  // end __display

// end .dropdown, .date-dropdown common styles

.dropdown

  &__contents
    display: none
    width: 100%
    padding: 6px 6px 7px 14px
    font-size: 1.4rem
    font-weight: 400
    color: fw.$dark50
    border: 1px solid fw.$dark50
    border-top: none
    border-radius: 0 0 4px 4px
    cursor: default
    overflow: hidden
    // height: 0
    // transition: height 1s

    &--visible,
    &--force-visible
      display: block

    &--visible
      position: absolute
      background: #ffffff
      z-index: 10
      // height: auto
      // transition: all 1s

  // end __contents

  $optionHeight: 30px

  &__option
    display: flex
    flex-flow: row nowrap
    font-size: 1.18rem
    line-height: 28px
    font-weight: 700
    color: fw.$dark100

    &:not(:last-of-type)
      margin-bottom: 7px

    &-name
      flex: auto
      text-transform: uppercase
      vertical-align: 0px

    &-value
      width: 32px
      text-align: center
      line-height: 28px

    &-control
      height: $optionHeight
      width: $optionHeight
      background: #fff
      line-height: 30px
      color: fw.$dark50
      font-size: 1.8rem
      border: 1px solid fw.$dark25
      border-radius: 50%
      cursor: pointer

      &--disabled
        opacity: .5
        cursor: not-allowed

  // end __option

  &__btn
    margin: 20px 0 5px

    &--clear
      color: fw.$dark50
      background: transparent

    &--apply
      float: right