@use 'Styles/forward'

.dropdown
  position: relative

  *::selection
    background: transparent

  &:after
    @extend .material-icons
    @extend .centered-flex
    content: '\e5cf'
    position: absolute
    right: 0
    top: 0
    width: 44px
    height: 44px
    color: forward.$dark50
    transition: all .1s
    z-index: -1

.dropdown--is-open,
.dropdown--force-open
  box-shadow: 0 10px 20px forward.$dark05

  .dropdown__display
    border-color: forward.$dark50
    border-radius: 4px 4px 0 0

  &:after
    transform: rotate(-180deg)
    transition: all .1s

.dropdown__display
  cursor: pointer
  background: transparent
  color: forward.$dark75
  border-color: forward.$dark25
  
  &::placeholder
    color: forward.$dark75

.dropdown__contents
  display: none
  width: 100%
  // height: 0px
  font-size: 1.4rem
  font-weight: 400
  color: forward.$dark50
  border: 1px solid forward.$dark50
  border-top: none
  border-radius: 0 0 4px 4px
  cursor: default
  overflow: hidden
  // transition: height 1s

.dropdown__contents--visible,
.dropdown__contents--force-visible
  display: block
  // height: 100%
  // transition: all 1s

$optionHeight: 28px

.dropdown__option
  display: flex
  flex-flow: row nowrap
  padding: 5px 15px

.dropdown__option-name
  flex: auto
  line-height: $optionHeight
  color: forward.$dark100
  font-weight: 700
  text-transform: uppercase
  font-size: 1rem

.dropdown__option-value
  width: 30px
  text-align: center
  line-height: $optionHeight

.dropdown__option-control
  height: $optionHeight
  width: $optionHeight
  background: #fff
  border: 1px solid forward.$dark25
  border-radius: 50%
  cursor: pointer

.dropdown__option-control--disabled
  opacity: .5
  cursor: not-allowed

.dropdown__btn-apply,
.dropdown__btn-clear
  margin: 10px 15px

.dropdown__btn-apply
  float: right