include ../image-title/image-title
include ../like-counter/like-counter

mixin userComment({ age, avatar, username, likes, isLiked, text })
  .user-comment&attributes(attributes)
    +imageTitle({ type: 'comment', src: avatar, heading: username, text: age })
    .user-comment__body
      +likeCounter({ value: likes, checked: isLiked}).user-comment__like-counter.js-like
      p.user-comment__text
        = text
