@use 'Styles/forward'

.input-box__input--text,
.input-box__input--email,
.input-box__input--password
  border-color: forward.$dark25

  &::placeholder
    color: forward.$dark25

// .input-box__input--email

// .input-box__input--password

.input-box__icon-subscribe
  position: absolute
  right: 0
  bottom: 0
  height: 44px
  width: 44px
  @extend .centered-flex
  
  &:after
    @extend .material-icons
    content: '\e5c8'
    color: transparent
    background: forward.$mainGradient
    background-clip: text

.input-box__input--uikit_always-focused
  border-color: forward.$dark50

  &::placeholder
    color: forward.$dark75