mixin textField(placeholder, type='text', uikit)
  input(
    type=type
    placeholder=placeholder 
    class='input-box__input input-box__input--' + type
    class=uikit ? 'input-box__input--' + uikit : ''
  )&attributes(attributes)
