mixin textField(placeholder, type='text', icon)
  input(type=`${type}` placeholder=placeholder class=`input-box__input--${type}`).input-box__input
  if(icon=="subscribe")
    .input-box__icon-subscribe