include ~CommonBlocks/input-box/input-box
include ~CommonBlocks/room-title/room-title

mixin roomCard(options = {})
  -
    const cost = options.cost || '9 999';
    const lux = options.lux || false;
    const number = options.number || '001';
    const photos = options.photos || ['room1.png'];
    const rating = options.rating || 0;
    const reviewCount = options.reviewCount || 0;

  .room-card&attributes(attributes)
    .room-card__photos
      .room-card__photos-ratio
      button.room-card__control.room-card__control--direction_left
        i.material-icons.room-card__icon-left arrow_back_ios
      button.room-card__control.room-card__control--direction_right
        i.material-icons.room-card__icon-right arrow_forward_ios
      - const len = photos.length;
      each photo in photos
        img(src='../assets/images/' + photo, alt='Фото комнаты').room-card__photo
      nav.room-card__nav
        - for (let i = 0; i < len; i += 1)
          - const current = i === 0 || false;
          button(class = (current === true) ? 'room-card__navbtn--current' : '').room-card__navbtn
    .room-card__info
      +roomTitle({ number, lux, price, url: './room-details.html'}).room-card__title
      .room-card__rating
        +starRating(rating)
        span.room-card__review-counter
          strong #{reviewCount}
          |  отзывов
