include ../input-box/input-box

mixin dot(is = {current: false})
  button.room-card__dot(class = (is.current === true) ? 'room-card__dot--current' : '')

mixin roomCard(roomPhotos = ['room1.png'], roomRating = 5, roomNumber, dailyCost, reviewCount = 0, lux = false)
  .room-card&attributes(attributes)
    .room-card__photos
      .room-card__photos-ratio
      button.room-card__control.room-card__control--direction_left
        i.material-icons.room-card__icon-left arrow_back_ios
      button.room-card__control.room-card__control--direction_right
        i.material-icons.room-card__icon-right arrow_forward_ios
      - len = roomPhotos.length;
      each pic in roomPhotos
        img(src='../assets/images/' + pic, alt='Фото комнаты').room-card__photo
      .room-card__dots
        - for (let i = 0; i < len; i += 1)
          - current = i === 0 || false;
          +dot({current})

    .room-card__info
      //- a(href="#some-url").room-card__link
      h2.room-card__title.form-title
        a(href="#some-url").form-title__room
          span.form-title__number №
          = roomNumber
          if (lux)
            span.form-title__lux люкс
        span.form-title__price= dailyCost
          span.form-title__price-period в сутки
      .room-card__rating
        +starRating(roomRating)
        span.room-card__review-counter
          strong #{reviewCount}
          |  отзывов
