@use 'Styles/forward' as *

.room-card
  background: #ffffff
  width: 100%
  min-width: 270px
  min-height: 257.5px
  border-radius: 4px
  overflow: auto
  box-shadow: 0 10px 20px $dark05

  &__photos
    position: relative
    display: flex
    border-radius: 4px 4px 0 0
    overflow: hidden

    &:hover .room-card__control
      display: block

  &__control
    border: none
    color: #ffffff
    cursor: pointer
    display: none
    height: 100%
    position: absolute
    text-align: center
    width: 42px
    z-index: 9

    &--direction_left
      background: linear-gradient(to right, $dark50, transparent)
      left: 0

    &--direction_right
      background: linear-gradient(to left, $dark50, transparent)
      right: 0

  &__icon-left,
  &__icon-right
    font-size: 1.6rem

  &__icon-left
    margin-left: 1rem

  // image aspect ratio
  &__photos-ratio
    position: relative
    width: 100%
    // 151.38px
    padding-bottom: 56.07%

  &__photo
    position: absolute
    min-width: 100%
    transition: left 0.25s

  &__nav
    position: absolute
    bottom: 13px
    right: 14px
    z-index: 10

  &__navbtn
    padding: 2px
    font-size: .8rem
    color: #ffffff
    background: transparent
    border: none
    cursor: pointer

    &::after
      font-family: 'fa-icons'
      content: '\f10c'

    &--current::after
      content: '\f111'

  &__info
    margin-top: 21px
    padding: 0 20px

  &__title
    border-bottom: 1px solid $dark25
    line-height: 2rem
    margin-bottom: 8px
    padding-bottom: 10px

  &__rating
    display: flex
    align-items: center
    justify-content: space-between

  &__review-counter
    font-size: 1.4rem
    font-weight: 400
    color: $dark50

  &--width_m
    max-width: 266px
