@use 'Styles/forward' as fw

.room-card
  background: #ffffff
  width: 100%
  min-width: 266px
  border-radius: 4px
  overflow: auto

  &__photo
    position: relative
    display: flex
    width: 100%
    height: auto
    border-radius: 4px 4px 0 0
    overflow: hidden

  &__dots
    position: absolute
    bottom: 15px
    right: 15px
    z-index: 10
  
  &__dot
    font-size: .8rem
    color: #ffffff
    background: transparent
    border: none

  &__info
    margin: 20px

  &__title
    border-bottom: 1px solid fw.$dark25
    padding-bottom: 10px
    margin-bottom: 10px
    font-family: 'Quicksand', 'Open Sans', sans-serif

  &__rating
    display: flex
    align-items: center
    justify-content: space-between

  &__review-counter
    font-size: 1.4rem
    font-weight: 700
    color: fw.$dark50

    &::after
      content: ' Отзывов'
      font-weight: 400

  &--width_m
    max-width: 266px