include ../logo/logo
include ../button/button

mixin headerUIKit
  header.uikit-header.container.container--width_l
    +logoUIKit

mixin header(username)
  header.main-header&attributes(attributes)
    .main-header__wrapper
      +logoToxin.main-header__logo

      button.button.button--style_text.button--size_auto.main-header__btn--menu.main-header__btn--iconic
        i.material-icons menu

      nav.main-header__nav
        a(href="#some-url").main-header__navlink.main-header__navlink--current home
        a(href="#some-url").main-header__navlink about us
        a(href="#some-url").main-header__navlink.main-header__navlink--has-subnav services
        a(href="#some-url").main-header__navlink careers
        a(href="#some-url").main-header__navlink news
        a(href="#some-url").main-header__navlink documentation

      if (!username)
        +headerButtons('login', 'register')
      else
        .main-header__user-panel
          a(href="#some-url-or-menu" data-name= username).main-header__user-menu.main-header__btn--account= username

//- submixins - for customization
mixin mainHeader
  header.main-header&attributes(attributes)
    .main-header__wrapper
      block

mixin navBtn
  button.button.button--style_text.button--size_auto.main-header__btn.main-header__btn--menu.main-header__btn--iconic
    i.material-icons menu

mixin headerNav
  nav.main-header__nav
    block

mixin navlink(name, current)
  a(href="#some-url", class = current ? 'main-header__navlink--current' : '').main-header__navlink&attributes(attributes)= name

mixin headerButtons(login='login', register='register')
  .main-header__user-buttons
    +aButton(login, 'bordered', 'auto')(data-name=login).main-header__btn.main-header__btn--login
    +aButton(register, 'gradient', 'auto')(data-name=register).main-header__btn.main-header__btn--register

mixin headerUser()
  .main-header__user-panel
    a(href="#some-url-or-menu").main-header__user-menu= username

//- main header for website pages
mixin mainHeaderPages(shadow=false)
  +mainHeader(class = shadow ? 'main-header--has-shadow' : '')&attributes(attributes)
    +logoToxin.main-header__logo
    +navBtn
    +headerNav
      +navlink('о нас')
      +navlink('услуги').main-header__navlink--has-subnav
      +navlink('вакансии')
      +navlink('новости')
      +navlink('соглашения').main-header__navlink--has-subnav
    +headerButtons('войти', 'зарегистрироваться')