@use 'Styles/forward' as *
@use '../logo/logo'

.header
  position: relative
  display: flex
  flex-flow: row nowrap
  align-items: center
  width: 100%
  height: 70px
  padding: 0 15px
  background: #ffffff
  font-size: 1.4rem
  z-index: 15

  &--uikit
    padding: 30px

  &__wrapper
    display: flex
    flex-flow: row nowrap
    align-items: center
    width: 100%
    height: 70px

  &--has-shadow
    box-shadow: 0 10px 20px $dark05

  // fix for uikit headers-footers page
  + .header
    z-index: 14
  // end fix

  &__logo
    position: relative
    max-width: 40px
    overflow: hidden

    @include media('>=desktop')
      max-width: 100%

  @include media('>=topnav')
    position: relative
    max-width: 100%
    border: none

  &__nav
    display: none
    margin-left: auto
    margin-right: 30px
    text-align: center
    z-index: 51

    &--expanded
      position: absolute
      top: 100%
      left: 0
      width: 100%

      display: flex
      flex-flow: column nowrap
      align-items: center

      padding: 10px 0
      background: #fff
      border-top: 1px solid $dark10
      box-shadow: 0 4px 4px $dark10

    @include media('>=tablet')
      display: block

  &__navlink
    display: inline-block
    line-height: 2.4rem
    padding: 10px
    text-transform: capitalize
    text-decoration: none
    color: $dark50

    &--current
      font-weight: 700
      color: $dark75

    &--has-subnav
      &::after
        // @extend .centered-flex
        @extend .material-icons
        content: '\e5cf'
        vertical-align: middle
        width: 18px

      // // compensate after
      // @include media('<tablet')
      //   margin-left: 10px

    &:hover
      @extend .text-gradient

    @include media('>=tablet')
      padding: 0

      &:not(:first-child)
        margin-left: 30px

  // end __navlink

  &__user-panel
    display: flex

    @include media('>=tablet')
      padding-left: 15px
      border-left: 1px solid $dark25

    @include media('>=topnav')
      padding-left: 30px

  &__user-menu
    display: inline-flex
    white-space: nowrap
    text-decoration: none
    color: $dark50

    &:hover i
      @extend .text-gradient

    @include media('>=topnav')
      line-height: 30px
      width: auto

      &::before
        display: none

  // end __user-menu

  &__user-buttons
    display: flex

  &__btn
    max-height: 34px

    &--type

      &_login
        @include media('>=topnav')
          padding: 0 10px

      &_register
        margin-left: 20px

        @include media('>=topnav')
          padding: 0 20px

      &_iconic
        padding: 10px
        margin-left: 5px
        max-height: 100%
        color: $dark50
        background: transparent

        &:hover i
          @extend .text-gradient

      &_menu
        margin-left: auto
        color: $dark50
        background: transparent

        &:hover i
          @extend .text-gradient

        @include media('>=tablet')
          visibility: collapse
