include ../logo/logo
include ../button/button

mixin headerUIKit
  header.uikit-header.container.container--width_l
    +logoUIKit

mixin header(username)
  header.main-header&attributes(attributes)

    a(href="#some-url").main-header__logo
      +logoToxin
  
    nav.main-header__nav
      a(href="#some-url").main-header__navlink.main-header__navlink--current home
      a(href="#some-url").main-header__navlink about us
      a(href="#some-url").main-header__navlink.main-header__navlink--has-subnav services
      a(href="#some-url").main-header__navlink careers
      a(href="#some-url").main-header__navlink news
      a(href="#some-url").main-header__navlink documentation

    if (!username)
      +button('login', 'bordered').main-header__btn
      +button('register').main-header__btn
    else
      .main-header__user-panel
        a(href="#some-url-or-subnav").main-header__user-menu= username