include ../button/button
include ../logo/logo

-
  const HEADER_DEFAULT_CONTENT = {
    nav: [
      { title: 'О нас', url: '#some-url', current: true },
      { title: 'Услуги', url: '#some-url', expandable: true },
      { title: 'Вакансии', url: '#some-url' },
      { title: 'Новости', url: '#some-url' },
      { title: 'Соглашения', url: '#some-url', expandable: true },
    ],
    username: '',
    buttons: [
      { 
        type: 'login',
        title: 'Войти',
        style: 'bordered',
        size: 'auto',
        url: './login.html'
      },
      {
        type: 'register',
        title: 'Зарегистрироваться',
        style: 'gradient',
        size: 'auto',
        url: './register.html'
      }
    ],
  }

mixin header(config = {})
  -
    const nav = config.nav || HEADER_DEFAULT_CONTENT.nav;
    const username = config.username || HEADER_DEFAULT_CONTENT.username;
    const buttons = config.buttons || HEADER_DEFAULT_CONTENT.buttons;

  header.header(class = config.hasShadow && 'header--has-shadow')&attributes(attributes)
    .header__wrapper
      +logoToxin.header__logo
      button.button.button--style_text.button--size_auto.header__btn--type_menu.header__btn--type_iconic
        i.material-icons menu
      nav.header__nav
        each link in nav
          a(
            href = link.url
            class = link.current && 'header__navlink--current'
            class = link.expandable && 'header__navlink--has-subnav'
          ).header__navlink= link.title
      if !username
        .header__user-buttons
          each button in buttons
            +aButton({
              title: button.title,
              style: button.style,
              size: button.size,
              url: button.url,
            })(class = `header__btn header__btn--type_${button.type}` data-name = button.title)
      else
        .header__user-panel
          a(href = "#some-url" data-name = username).header__user-menu.header__btn--type_account= username
