mixin starRating({ value = 5, rateable, ratingValue })
  .star-rating(class=rateable && "star-rating--rateable")&attributes(attributes)
    each val in [5, 4, 3, 2, 1]
      if (val === value)
        .star-rating__star.star-rating__star--active(
          class=rateable && "star-rating__star--rateable"
        )
      else
        .star-rating__star(class=rateable && "star-rating__star--rateable")
