mixin likeCounter(options = {})
  -
    const value = options.value || 0;
    const checked = options.checked || false;

  .like-counter&attributes(attributes)
    input.like-counter__input(type='checkbox', checked=checked)
    .like-counter__replacer
      span.like-counter__value= value
