mixin likeCounter({ value = 0, checked = false })
  .like-counter&attributes(attributes)
    input.like-counter__input(type='checkbox', checked=checked)
    .like-counter__replacer
      span.like-counter__value= value
