include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Headers & Footers
  body.page.page--layout_headers-footers

    +headerUIKit

    //- +header.mb40

    //- modular header
    +mainHeader.mb40
      +logoToxin.main-header__logo
      +navBtn
      +headerNav
        +navlink('home', true)
        +navlink('about us')
        +navlink('services').main-header__navlink--has-subnav
        +navlink('careers')
        +navlink('news')
        +navlink('documentation')
      +headerButtons

    +header('Cosmin Negoita').mb40

    +footer.mb40

    +footerCreative.mb40