include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer

+head('Headers & Footers')
  body.page--layout_headers-footers

    +headerUIKit

    .mb39

    +header.main-header--uikit.mb40

    +header('Cosmin Negoita').main-header--uikit.mb40

    +footer.mb40

    +footerCreative.mb40