include ~UtilBlocks/head
include ~CommonBlocks/box/box
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer

+head('Headers & Footers')
  body.headers-footers-page

    +box({ mb: 30 })
      header.header--uikit
        +logoUIKit

    +box({ mb: 40 })
      +header

    +box({ mb: 40 })
      +header({ username: 'Юлий Цезарь' })
    
    +box({ mb: 40 })
      +footer()
