include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer

+head('Headers & Footers')
  body.headers-footers-page

    .box.box--mb_3
      header.header--uikit
        +logoUIKit

    .box.box--mb_4
      +header

    .box.box--mb_4
      +header({ username: 'Юлий Цезарь' })
    
    .box.box--mb_4
      +footer()
