include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer

+head('Headers & Footers')
  body.page--layout_headers-footers

    header.uikit-header
      +logoUIKit

    .mb39

    +header.mb40

    +header({ username: 'Юлий Цезарь' }).mb40
    
    +footer().mb40
    
    //- +footerCreative.mb40
