include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/footer/footer

+head('Headers & Footers')
  body.page.page--layout_headers-footers

    +headerUIKit

    //- +header.mb40

    //- modular header
    +mainHeader.page--layout_headers-footers__non-fixed-header.mb40
      +logoToxin.main-header__logo
      +navBtn
      +headerNav
        +navlink('home', true)
        +navlink('about us')
        +navlink('services').main-header__navlink--has-subnav
        +navlink('careers')
        +navlink('news')
        +navlink('documentation')
      +headerButtons

    +header('Cosmin Negoita').page--layout_headers-footers__non-fixed-header.mb40

    +footer.mb40

    +footerCreative.mb40