extends ~Pages/layout

include ~Components/box/box
include ~Components/header/header
include ~Components/footer/footer
include ~Components/uikit/logo/logo

block title
  title Headers & footers

block body
  body.headers-footers-page
    +box({ mb: 30 })
      header.header--uikit
        +logoUikit

    +box({ mb: 40 })
      +header

    +box({ mb: 40 })
      +header({ username: 'Юлий Цезарь' })

    +box({ mb: 40 })
      +footer

    script(type='text/javascript', src='../scripts/headersFooters.js')
