include ~CommonBlocks/header/header
//- include ../../components/common.blocks/footer/footer
include ~CommonBlocks/footer/footer

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Headers & Footers
  body.page.page--layout_headers-footers

    +headerUIKit

    +header.mb50

    +header('Cosmin Negoita').mb50

    +footer