@use 'Styles/forward' as fw
@use './--type/booking/booking'
@use './--type/login/login'
@use './--type/registration/registration'
@use './--type/search-room/search-room'
@use './__prompt/prompt'

.form
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  max-width: 380px
  padding: 40px 15px 30px 15px
  background: #ffffff
  border-radius: 3px
  box-shadow: 0 0 20px fw.$dark10

  > *
    // smooth form paddings change on xs
    width: 100%
    max-width: 320px

  @include fw.media('>=footcols')
    padding: 40px 30px 30px 30px

  &__title
    display: flex
    align-items: flex-end
    margin-bottom: 21px
    @extend .ff-quicksand

    &-room
      flex: auto

      &::before
        content: '№ '
        font-size: 1.4rem

      &--lux::after
        content: ' люкс'
        font-size: 1.4rem
        @extend .text-gradient

    // end -room

    &-price
      color: fw.$dark50
      font-size: 1.4rem
      line-height: 1.8rem

      &::after
        content: ' в сутки'
        font-size: 1.2rem
        font-weight: 400

  // end __title

  &__row
    display: flex
    max-width: 320px
    flex-direction: row
    justify-content: space-between

  &__btn--main
    margin-top: 21px

  &__datepicker
    display: none

    &--visible
      display: block

    &-double
      position: relative
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      margin-bottom: 21px
      max-width: 320px

      .datepicker-inline
        position: absolute
        top: 100%
        margin-top: 5px


// end .form

.bill-info
  position: relative
  width: 100%
  line-height: 2.4rem
  font-size: 1.4rem
  color: fw.$dark75
  margin-bottom: 16px

  &__title,
  &__sum
    padding-bottom: 8px

  &__title

    &--has-hint::before
      content: 'i'
      display: inline-flex
      float: right
      align-items: center
      justify-content: center
      width: 20px
      height: 20px
      margin-top: 2px
      color: fw.$dark25
      border: 1px solid fw.$dark25
      border-radius: 50%

  &__sum
    min-width: 75px
    text-align: right

  &__total
    display: flex
    flex-flow: row nowrap
    width: 100%
    color: fw.$dark100
    font-size: 1.9rem
    font-weight: 700

    &-title
      order: 1

    &-sum
      order: 3

    &:after
      content: ''
      flex: auto
      order: 2
      margin: 3px 5px
      border-bottom: 1px dotted fw.$dark25