mixin checkbox(options = {})
  -
    const label = options.label || 'Галочка';
    const checked = options.checked || false;
    const text = options.text || '';

  label.checkbox&attributes(attributes)
    input.checkbox__input(type='checkbox', checked=checked)
    span.checkbox__replacer
    .checkbox__label
      span.checkbox__title(class=text && "checkbox__title--bold")= label
      if (text)
        span.checkbox__text= text
