mixin checkbox({ checked = false, label = 'Checkbox', text })
  .checkbox&attributes(attributes)
    label.checkbox__label
      input.checkbox__input(type='checkbox', checked=checked)
      span.checkbox__replacer
      span.checkbox__title(class=text && "checkbox__title--bold")= label
    if (text)
      span.checkbox__text= text
