mixin checkbox({ checked = false, label = 'Checkbox', text })
  label.checkbox&attributes(attributes)
    input.checkbox__input(type='checkbox', checked=checked)
    span.checkbox__replacer
    .checkbox__label
      span.checkbox__title(class=text && "checkbox__title--bold")= label
      if (text)
        span.checkbox__text= text
