mixin socialLinks
  .social-links&attributes(attributes)
    each iconName in ['twitter', 'facebook-squared', 'instagram']
      a.social-links__link(href='#some-url', rel='noreferrer', target='_blank')
        i(class=`social-links__icon icon-${iconName}`)
