mixin inputDrop(placeholder, hasButtons=false)
  .input-box__dropdown-box
    input(type='text' readonly placeholder=placeholder data-placeholder=placeholder).input-box__input.input-box__input--dropdown
    .input-box__dropdown-contents
      block
      if(hasButtons)  
        input(type='button' value='очистить').input-box__dropdown-clear.text-btn
        input(type='button' value='применить').input-box__dropdown-apply.text-btn

mixin dropOption(name)
  .input-box__dropdown-option
    span.input-box__dropdown-option-name= name
    a.input-box__dropdown-option-subtract.drop-control -
    span.input-box__dropdown-option-value 0
    a.input-box__dropdown-option-add.drop-control +