@use 'Styles/forward' as *

.input-box__input--toggle,
.input-box__toggle-slider
  height: $controlSize
  width: $controlSize * 2

.input-box__toggle-item
  position: relative
  display: flex
  font-family: $mainFont
  cursor: pointer

.input-box__input--toggle
  margin-right: 10px
  opacity: 0
  z-index: 20
  cursor: pointer

  &:checked + .input-box__toggle-slider
    border-color: $purple

  &:checked + .input-box__toggle-slider::after
    left: $controlSize + $controlInnerOffset
    background: $mainGradient
    transition: left .1s

  &:checked ~ .input-box__toggle-label
    color: $dark75

.input-box__toggle-slider
  position: absolute
  border: 1px solid $dark25
  border-radius: $controlSize / 2
  z-index: 10

  &:after
    content: ""
    position: absolute
    height: $controlInnerSize
    width: $controlInnerSize
    left: $controlInnerOffset
    top: $controlInnerOffset
    border-radius: 50%
    background-color: $dark25
    transition: left .1s

.input-box__toggle-label
  font-size: 1.4rem
  line-height: 1.8rem
  color: $dark50
