@use 'Styles/forward'

.input-box__input--toggle,
.input-box__toggle-slider
  height: forward.$controlSize
  width: forward.$controlSize * 2

.input-box__toggle-item
  position: relative
  display: flex
  font-family: 'Montserrat', sans-serif
  font-size: 1.4rem
  line-height: forward.$controlSize
  color: forward.$dark75
  cursor: pointer

.input-box__input--toggle
  margin-right: 10px
  opacity: 0
  z-index: 20
  cursor: pointer

  &:checked + .input-box__toggle-slider
    border-color: forward.$purple

  &:checked + .input-box__toggle-slider::after
    left: forward.$controlSize + forward.$controlInnerOffset
    background: forward.$mainGradient
    transition: left .1s

.input-box__toggle-slider
  position: absolute
  border: 1px solid forward.$dark25
  border-radius: forward.$controlSize / 2
  z-index: 10

  &:after
    content: ""
    position: absolute
    height: forward.$controlInnerSize
    width: forward.$controlInnerSize
    left: forward.$controlInnerOffset
    top: forward.$controlInnerOffset
    border-radius: 50%
    background-color: forward.$dark25
    transition: left .1s