mixin inputToggle(label, isChecked=false)
  label.input-box__toggle-item
    input(type="checkbox" checked = (isChecked == true) ? true : false).input-box__input--toggle
    span.input-box__toggle-slider
    = label