mixin checkboxGroup(title, isExpanded=false)
  fieldset(class = (isExpanded == true) ? 'input-box__checkbox-group--expanded' : '').input-box__checkbox-group
    legend.input-box__checkbox-group-title= title
    .input-box__checkbox-group-content
      block

mixin checkbox(label, isChecked=false, desc)
  label(class = desc ? 'input-box__checkbox-item--rich' : '').input-box__checkbox-item
    input(type='checkbox', checked = (isChecked == true) ? true : false).input-box__input--checkbox
    span.input-box__stylish-checkbox
    span(class = desc ? 'input-box__checkbox-label--bold' : '').input-box__checkbox-label= label
    if(desc)
      pre.input-box__checkbox-description= desc