mixin toggle(options = {})
  -
    const label = options.label || '';
    const checked = options.checked || false;

  label.toggle&attributes(attributes)
    input.toggle__input(type='checkbox', checked=checked)
    span.toggle__replacer
    span.toggle__label= label
