extends ~Pages/layout

block body
  - const FSD2ndTaskPages = require("Pages/pages.pug.json");

  body.pages
    h1.pages__heading Pages
    nav.pages__nav
      each page in FSD2ndTaskPages
        a.pages__link(href=page.url)= page.title
