- const pages = [{ title: 'Colors', url: 'pages/colors.html' }]

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title TODO
    link(rel="stylesheet", href="app.css")
  body.router
    nav.router__nav
      each page in pages
        a.router__navlink(href=page.url)=page.title
    iframe.router__current-page(src="pages/colors.html", frameborder="1")