@use 'Styles/forward'

.page--layout_cards
  min-width: 1200px
  background: forward.$dark05

.main-content--page_cards
  display: grid
  grid-template-columns: 380px 380px 320px
  column-gap: 40px
  margin: 40px 0 140px 140px

.main-content__column
  > * + *
    margin-top: 40px
