include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/form/form
include ~CommonBlocks/room-card/room-card

+head('Cards')
  body.page.page--layout_cards
    +headerUIKit
    main.main-content.main-content--page_cards
      .main-content__column
        +formSearchRoom
        +formRegistration
      .main-content__column
        +formBooking
        +formLogin
      .main-content__column
        .mount-point-for-really-static-air-datepicker-on-cards-page
        +roomCard('room1.jpg', 5, 888, '9 990₽', 145, true).room-card--width_m
        +roomCard('room2.jpg', 4, 840, '9 900₽', 65).room-card--width_m