@use 'Styles/forward'

.cards-page
  background: forward.$dark05

  &__content
    @extend .main-content
    column-gap: 40px
    display: grid
    grid-template-columns: 380px 380px 320px
    padding: 39px 0 40px 140px
