include ../../components/common.blocks/form/form
include ../../components/common.blocks/room-card/room-card

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Cards
  body.page.page--layout_cards
    include ../../components/common.blocks/header/header
    main.main-content.main-content--page_cards.main-content--width_m
      .main-content__column
        +formSearchRoom
        +formRegistration
      .main-content__column
        +formBooking
        +formLogin
      .main-content__column
        .datepicker--static
        +roomCard('room1.png', 5, 888, '9 990₽', 145)
        +roomCard('room2.png', 4, 840, '9 900₽', 65)