include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/form/form
include ~CommonBlocks/room-card/room-card

+head('Cards')
  body.cards-page
    header.header--uikit
      +logoUIKit
    main.cards-page__content
      div
        .box.box--mb_4
          +formSearchRoom
        .box
          +formRegistration
      div
        .box.box--mb_4
          +formBooking({ number: '888', lux: true })
        .box
          +formLogin
      div
        .box.box--mb_4
          .js-datepicker-static
            input(type="hidden")
            input(type="hidden")
        .box.box--mb_4
          +roomCard({ 
            photos: ['room1.jpg', 'room2.jpg', 'room3.jpg'],
            rating: 5,
            number: 888,
            cost: '9 990',
            reviewCount: 145,
            lux: true,
          })
        .box
          +roomCard({
            photos: ['room2.jpg', 'room3.jpg', 'room4.jpg', 'room5.jpg'],
            rating: 4,
            number: 840,
            cost: '9 900₽',
            reviewCount: 65,
          }).room-card--width_m

    script(type="text/javascript" src="../scripts/cards.js")
