include ~UtilBlocks/head
include ~CommonBlocks/header/header
include ~CommonBlocks/form/form
include ~CommonBlocks/room-card/room-card

+head('Cards')
  body.page.page--layout_cards
    header.uikit-header
      +logoUIKit
    main.main-content--page_cards
      .main-content__column
        +formSearchRoom
        +formRegistration
      .main-content__column
        +formBooking({ number: '888', lux: true })
        +formLogin
      .main-content__column
        .js-datepicker-static(style="margin-bottom: 38px")
          input(type="hidden")
          input(type="hidden")
        +roomCard(['room1.jpg', 'room2.jpg', 'room3.jpg'], 5, 888, '9 990₽', 145, true).room-card--width_m(style="margin-bottom: 39px")
        +roomCard(['room2.jpg', 'room3.jpg', 'room4.jpg', 'room5.jpg'], 4, 840, '9 900₽', 65).room-card--width_m
