form.form.form--type_login
  h1.form__title Войти
  .form__input-group
    input(type="email" placeholder="Email").form__input.mb10
    input(type="password" placeholder="Пароль").form__input
  input(type="submit" value="Войти").form__btn.form__btn--role_main
  .form__prompt
    span.form__prompt-text Нет аккаунта на Toxin?
    .form__btn-wrapper
      a(href="#").form__btn.form__btn--role_secondary Создать